[2017-03-20 21:29] vgeorge opened #2 "Wireframe - Tela Inicial"

[2017-03-20 21:29] vgeorge opened #3 "Wireframe - Linha do Tempo"

[2017-03-20 21:30] vgeorge opened #4 "Wireframe - Mapa de Instalações"

[2017-03-20 21:30] vgeorge opened #5 "Wireframe - Perfil da Instalação"

[2017-03-20 21:31] vgeorge opened #6 "Wireframe - Suporte"

[2017-03-20 21:32] vgeorge opened #7 "Wireframe - Página Estática"

[2017-03-20 21:32] vgeorge opened #8 "Wireframe - Blog"
Propor a partir do plugin delibera

[2017-03-20 21:56] vgeorge opened #9 "Design - Cabeçalho"

[2017-03-20 21:56] vgeorge opened #10 "Design - Hero"
Chamada principal na home

[2017-03-20 21:57] vgeorge opened #11 "Design - Rodapé"

[2017-03-20 21:57] vgeorge opened #12 "Design - Widget Newsletter"

[2017-03-20 21:57] vgeorge opened #13 "Design - Widget Mapa"

[2017-03-20 21:57] vgeorge opened #14 "Design - Listas"

[2017-03-20 21:58] vgeorge opened #15 "Design - Página Linha do Tempo"

[2017-03-20 21:59] vgeorge opened #16 "Design - Página Inicial do Suporte"

[2017-03-20 21:59] vgeorge opened #17 "Design - Página Inicial da Comunidade"

[2017-03-21 15:01] miguelpeixe opened #18 "Wireframe - Comunidade/delibera"

[2017-03-21 16:55] vgeorge opened #19 "Definir licença de código"
Nós usamos MIT para a maioria dos projetos. A melhor referência que conheço para saber as diferenças entre as licenças este site, feito pelo Github:

https://choosealicense.com

[2017-03-21 21:10] thaisrigolon commented on #3
Algumas dúvidas:

- O conteúdo dessa página poderá ser atualizado sempre, né? A ideia é ter sempre conteúdo novo para esse linha do tempo e também precisamos ter a possibilidade de alterar textos dos itens antigos.

- Podemos incluir pequenas fotos nos itens?
![1](https://cloud.githubusercontent.com/assets/18294515/24170986/7a0a936c-0e61-11e7-8a48-434acfea1502.png)

[2017-03-21 22:15] thaisrigolon commented on #4
- [x] Alterar o título "Instalações pelo Brasil" para: "Mapa das Instalações"

- [x] Os números precisam de separador:
![1](https://cloud.githubusercontent.com/assets/18294515/24171404/1d4f48aa-0e63-11e7-9fcf-2268b19ece53.png)

- [x] Tirar essa parte dessa página:
![1](https://cloud.githubusercontent.com/assets/18294515/24171541/b6e63000-0e63-11e7-8589-e71971d4cd76.png)

- [x] Alterar a nomenclatu

[2017-03-21 22:24] thaisrigolon commented on #5
- [x] No título adicionar o nome da instalação também. Exemplo:
![803735970_71613](https://cloud.githubusercontent.com/assets/18294515/24173513/2476d56e-0e6b-11e7-8e0c-2a4b013b6489.jpg)

- [x] Seria legal se o usuário pudesse alterar os indicadores desse gráfico (número de agentes, eventos, espaços e projetos)
![1](https://cloud.githubusercontent.com/assets/18294515/24173577/51d1cbcc-0e6b-11e7-9b4

[2017-03-22 11:52] miguelpeixe commented on #7
http://dev.aparabolica.com.br/mapasculturais/wireframe/html/

**Cabeçalho** - Logo, menu e busca

**Hero (eyecandy)** - Slogan/descrição curta, convite ao acesso às principais áreas, resumo dos dados das instalações (destacando impacto/alcance do software)

**Seção conteúdo dinâmico** - Mais informações sobre o MC, últimos posts e formulário para newsletter

**Convite à comunidade** - Seção consta

[2017-03-22 11:55] miguelpeixe commented on #6
http://dev.aparabolica.com.br/mapasculturais/wireframe/html/support.html

**Cabeçalho da página** - Apresentação do suporte, busca de tutoriais e links de acesso rápido aos principais recursos do suporte (menos destaque mas importante para o usuário frequente)

**Apresentação de conteúdo externo/estático** - Manual e chat

**Tutoriais** - Lista de tutoriais, por ordem manual ou cronológica

**Cate

[2017-03-22 11:56] miguelpeixe commented on #2
http://dev.aparabolica.com.br/mapasculturais/wireframe/html/

**Cabeçalho** - Logo, menu e busca

**Hero (eyecandy)** - Slogan/descrição curta, convite ao acesso às principais áreas, resumo dos dados das instalações (destacando impacto/alcance do software)

**Seção conteúdo dinâmico** - Mais informações sobre o MC, últimos posts e formulário para newsletter

**Convite à comunidade** - Seção consta

[2017-03-22 11:58] miguelpeixe commented on #18
http://dev.aparabolica.com.br/mapasculturais/wireframe/html/community.html

**Cabeçalho da página** - Apresentação da comunidade, alguns indicadores técnicos e link para acesso do GitHub e documentação técnica

**Seção delibera** - Apresentação, listagem de categorias e listagem de pautas ativas e pendentes

[2017-03-22 12:38] thaisrigolon commented on #18
Esse wireframe está ok, lembrando que vamos passar os textos para a página até o dia **05/04**.

[2017-03-22 12:38] #18 closed, assigned to miguelpeixe

[2017-03-22 12:56] thaisrigolon commented on #2
- [x] **Alterar Hero (eyecandy) para:** Software livre para gestão cultural e mapeamento colaborativo. _(essa frase será editável, certo?)_

- [x] Alterar os dois indicadores atuais para: **X** plataformas
![1](https://cloud.githubusercontent.com/assets/18294515/24198254/e47f9472-0ee3-11e7-8549-4c2d1b4a5e49.png)

- [x] Últimas novidades trocar por **Notícias** e referenciar à página  estática simp

[2017-03-22 15:26] thaisrigolon commented on #6
Essa página será para os desenvolvedores e gestores?
Porque ficou um pouco confuso o que é para os gestores (que estão precisando de tutoriais e manuais de uso) e o que é para os desenvolvedores (que estão buscando documentação/informações técnicas/rocket chat)

É preciso ter um link para o Rocket Chat também. O ícone abaixo parece do Telegram. Nós temos um grupo da comunidade de desenvolvedores n

[2017-03-22 15:34] thaisrigolon commented on #8
http://dev.aparabolica.com.br/mapasculturais/wireframe/html/blog.html

- [ ] Essa página seria do Blog da Rede. É possível termos outra página simples somente com matérias institucionais que seria nomeada de **Notícias**? Assim as informações não ficariam juntas no blog da Rede. Pode ser?

- [ ] Precisa ter paginação e não deixar com rolagem longa...
![1](https://cloud.githubusercontent.com/assets

[2017-03-22 16:00] thaisrigolon commented on #7
**Páginas estáticas:**

# O que é
Página simples com um texto sobre a iniciativa.

# Histórico
Página simples com um texto sobre o histórico do projeto e um link para a página da linha do tempo.

# Parceiros
Página simples com descrição breve e marcas de todos os parceiros com link clicável.

# Mapas como serviço
Página simples com opção de widgets ao lado do texto.

# Notícias
Ter uma página está

[2017-03-22 16:38] thaisrigolon opened #20 "Wireframe - Login"
Criar área para login dos usuários cadastrados na plataforma para publicarem posts.

[2017-03-22 18:00] miguelpeixe commented on #20
Recomendo o uso da área de login do próprio WordPress, que já contempla o processo para recuperação de senha. O logo da área de login pode ser customizado.

![WordPress Login](https://codex.wordpress.org/images/6/60/login_form.png)

[2017-03-22 18:01] thaisrigolon commented on #20
Ok! Podemos seguir assim.

[2017-03-22 18:14] miguelpeixe commented on #8
A ideia desse wireframe é contemplar a diagramação de ambas as páginas (notícias e blog da rede), pois a arquitetura é a mesma, alteram os títulos, algumas informações na barra lateral (que serão dinâmicas através de widgets) e claro, o conteúdo dinâmico dos posts que estarão alí.

O widget customizado que será desenvolvido para exibição na página do blog da rede é a listagem de usuários mantenedo

[2017-03-22 18:26] miguelpeixe commented on #7
Ok, suponho que não há necessidade de ter wireframes para cada uma dessas páginas, considerando que haverá templates de página disponíveis para que seja selecionado o template de página adequado para o conteúdo.

Sobre a página Notícias, faço referência ao #8

Para melhor visualizar esse conceito incluí o wireframe para template de página de largura cheia. Tendo assim as 2 opções: páginas com barr

[2017-03-22 18:34] thaisrigolon commented on #7
Ok, não precisamos ter wireframes para cada uma dessas páginas estáticas, já que teremos os templates para cada uma delas.

[2017-03-22 18:35] miguelpeixe commented on #6
Essa página propõe ter foco nos gestores. Houve um engano na escolha do ícone do chat. É possível que haja também um engano sobre o objetivo do chat. No mapa de arquitetura descrevemos o chat como item integrante da seção de suporte, talvez seja um equívoco, ele possivelmente pertence à área de comunidade (que mescla o debate técnico e conceitual).

![captura de tela de 2017-03-22 15-32-17](https:

[2017-03-22 18:35] #7 closed, assigned to miguelpeixe

[2017-03-22 18:38] thaisrigolon commented on #8
Então não há como ter essa página específica para as notícias? Seria legal se desse pra fazer essa distinção...

[2017-03-22 18:40] miguelpeixe commented on #8
A página existirá sim, só não vejo necessidade de ter 2 wireframes iguais, mas posso fazê-lo sem problemas.

[2017-03-22 18:42] thaisrigolon commented on #6
Entendi. É que o chat que temos é estritamente voltado para os técnicos mesmo. Não temos chat para os gestores...

[2017-03-22 18:42] miguelpeixe commented on #6
Removemos dessa página e colocamos na página comunidade/delibera?

ref #18

[2017-03-22 18:45] thaisrigolon commented on #8
Era só pra confirmar se vai ter. Não precisa de wireframe.

[2017-03-22 18:45] #8 closed, assigned to miguelpeixe

[2017-03-22 18:50] #20 closed, assigned to miguelpeixe

[2017-03-22 18:53] thaisrigolon commented on #6
Não, acho que podemos manter nessa página mesmo. Vamos propor uma nova nomenclatura ao enviar o texto da página que vai deixar claro o objetivo do chat. Não tem problema ficar nesta página.

[2017-03-22 18:53] #6 closed, assigned to miguelpeixe

[2017-03-22 20:49] miguelpeixe commented on #2
As alterações de texto foram realizadas no wireframe: http://dev.aparabolica.com.br/mapasculturais/wireframe/html/index.html

A frase do *hero* será editável sim, assim como menus e submenus do cabeçalho e rodapé. Também ok em relação à estrutura da navegação de rodapé, o design contemplará essa diagramação

Também incluí uma referência à widgets abaixo do formulário de newsletter (ele será um wid

[2017-03-22 20:56] miguelpeixe commented on #3
Sim, o conteúdo será dinâmico e poderá ser adicionado/editado.

Alterei o wireframe para exemplificar o uso de imagens (também poderão ser submetidos vídeos do YouTube/Vimeo e tweets)

http://dev.aparabolica.com.br/mapasculturais/wireframe/html/timeline.html

e1cdf316aba2c901cd3844954e249012b0cb4684

[2017-03-23 12:27] thaisrigolon commented on #3
Ótimo, é isso mesmo. Obrigada.

[2017-03-23 12:27] #3 closed, assigned to miguelpeixe

[2017-03-23 12:32] thaisrigolon commented on #2
Ok, obrigada.

[2017-03-23 12:32] #2 closed, assigned to miguelpeixe

[2017-03-23 17:21] thaisrigolon commented on #19
Gostaríamos que a licença fosse GPL (“General Public License”). Mas, vocês podem seguir a referência de um outro projeto nosso, em que o fornecedor listou as licenças para os componentes e bibliotecas utilizadas:

![credits](https://cloud.githubusercontent.com/assets/18294515/24260873/f293a7ce-0fd3-11e7-81b5-88de7817d810.png)

[2017-03-23 17:53] miguelpeixe commented on #4
Atualizações realizadas, além disso incluí na página uma área de widgets dinâmicos ao lado do blog dos gestores.

http://dev.aparabolica.com.br/mapasculturais/wireframe/html/installations.html

d1dc6b8ba429f1f5640c6f2b04600808be297515

[2017-03-23 18:01] miguelpeixe commented on #5
Ok

http://dev.aparabolica.com.br/mapasculturais/wireframe/html/profile.html

b247122ce1173b44789ad515b25cdf12ee6e4d03

[2017-03-23 18:12] thaisrigolon commented on #4
Ok.

[2017-03-23 18:12] #4 closed, assigned to miguelpeixe

[2017-03-23 18:32] thaisrigolon commented on #5
Tudo ok. Só os números que também precisam de separador, como está na página do mapa das instalações:

![1](https://cloud.githubusercontent.com/assets/18294515/24264032/dc0e0eea-0fdd-11e7-979d-f5d375daf4d5.png)

[2017-03-23 18:55] miguelpeixe commented on #5
ok 2c7f646abcd8287f6e8765773b9f2c49fad07c25

[2017-03-23 18:55] #5 closed, assigned to miguelpeixe

[2017-03-27 19:07] vgeorge commented on #19
Podemos usar a GPL, só precisamos confirmar se os códigos de terceiros são compatíveis. O Delibera parece que usa GPL 3.0, mas [pedi confirmação](https://github.com/redelivre/delibera/issues/150).

[2017-03-27 20:18] vgeorge opened #21 "Tutoriais (Custom Post Type)"
Criar definição de Custom Post Type de Tutoriais com as propriedades: Versão do Tema, Tags e Complexidade.

@thaisrigolon, qual o perfil na plataforma de quem vai produzir este conteúdo? Pensamos em apenas Administradores e Editores. Os mantenedores poderiam editar apenas o perfil e o blog de uma instalação.

[2017-03-27 20:31] vgeorge opened #22 "Metadados da Instalação"
As informações sobre uma instalação serão armazenadas como metadados do usuário mantenedor, que poderá editá-las em seu painel de controle. As seguintes propriedades estão previstas:

- URL da página inicial;
- E-mail de contato;
- Link para código-fonte;
- Coordenadas geográficas;
- Estatísticas da Instalação.

[2017-03-27 20:38] vgeorge opened #23 "Integrar plugin Delibera"
Caso ainda não conheçam como funciona o Delibera, aqui está uma apresentação sobre o processo: https://vimeo.com/73010975

[2017-03-29 01:48] thaisrigolon commented on #21
@vgeorge, podemos manter a permissão para Administradores, Editores e Mantenedores? Seria bem importante que as secretarias também tivessem a permissão para publicar tutoriais específicos.

[2017-03-30 13:27] miguelpeixe commented on #9
![home-hero](https://cloud.githubusercontent.com/assets/820752/24506189/0bc1a16a-1533-11e7-9b8c-4faf3f8cdbe7.jpg)

![pagina](https://cloud.githubusercontent.com/assets/820752/24506193/119f6f54-1533-11e7-9f9d-012dc2d0d3b4.jpg)

![mapa-rede](https://cloud.githubusercontent.com/assets/820752/24506200/163e5250-1533-11e7-9689-658db05379d0.jpg)

![perfil](https://cloud.githubusercontent.com/assets/82075

[2017-03-30 13:27] miguelpeixe commented on #10
![home-hero](https://cloud.githubusercontent.com/assets/820752/24506326/7e990020-1533-11e7-81de-623b5b3ec019.jpg)

[2017-03-30 18:27] vgeorge commented on #21
Sim, podemos deixar Administradores, Editores e Mantenedores. Sugerimos que o Mantenedor não tenha permissão para publicar, assim um Editor ou Administrador obrigatoriamente deverá revisar a publicação.

Como os tutoriais são conteúdos que terão destaque no site, seria interessante pensar um guia de estilo para que as publicações tenham boa qualidade.

[2017-03-31 15:02] thaisrigolon commented on #21
Ok.

[2017-03-31 15:33] thaisrigolon commented on #10
A gente consegue validar essa proposta de layout no wireframe criado ou só conseguimos validar por essa imagem do layout?

[2017-03-31 15:34] thaisrigolon commented on #9
A gente consegue validar essa proposta de layout no wireframe criado ou só conseguimos validar pelas imagens do layout?

[2017-03-31 16:47] miguelpeixe commented on #9
Por enquanto só pelas imagens

[2017-04-03 15:11] miguelpeixe commented on #11
![footer_01](https://cloud.githubusercontent.com/assets/820752/24616126/9a13992e-1866-11e7-8aa7-950b69820945.png)

[2017-04-04 19:58] vgeorge opened #24 "Edição de Linha do Tempo"
Habilitar edição de linha do tempo no painel de controle

[2017-04-07 19:30] miguelpeixe commented on #9
A nova proposta apresenta um design mais arrojado, alto contraste, cores vivas e utilizando técnicas de HTML5 canvas e animação svg ilustrando movimento e dinamismo da comunidade. A linha tracejada segue parte da identidade - remetendo ao projeto original - mas com uma proposta interativa e generativa.

A proposta do logo remete a um dos ícones de pin do projeto, mas com sobreposição e adaptações

[2017-04-07 19:30] miguelpeixe commented on #10
ver #9

[2017-04-07 19:32] miguelpeixe commented on #11
O rodapé recebe agora um azul mais claro, que - apesar de não ser o mesmo tom - favorece a relação com o Instituto TIM. Também inclui o formulário de cadastro para a newsletter

http://portal-mapas.conexaobrasil.org/#colophon

![footer](https://cloud.githubusercontent.com/assets/820752/24816552/96b71e9e-1baf-11e7-8ec5-d29dd0ad56eb.png)

[2017-04-07 19:59] thaisrigolon commented on #11
Estamos avaliando o rodapé, mas já adiantamos que a proposta está ótima. Uma consideração inicial: inserir a marca do Instituto TIM pequena na frase "Software livre desenvolvido pelo (marca)".

[2017-04-07 19:59] vgeorge opened #25 "Estatísticas da Instalação"
Criei o post type que irá armazenar entradas estatísticas da plataforma que o usuário mantém. Ele tem o seguintes campos:

- date;
- variable: pode ser event, project, agent, space;
- value: um número inteiro.

Ainda é preciso fazer os seguintes ajustes para esta funcionalidade:

- [ ] Exibir a data como MM-YYYY na lista administrativa;
- [ ] hook que bloqueia duas entradas no mesmo mês;
- [ ] rev

[2017-04-07 20:04] thaisrigolon commented on #9
A nova proposta está muito boa, parabéns! Consideração inicial: deixar apenas a seta pra rolar pra baixo, sem o texto:
![1](https://cloud.githubusercontent.com/assets/18294515/24817722/0c60e266-1bb4-11e7-934c-8c84120e354f.png)

[2017-04-07 20:14] miguelpeixe commented on #9
obrigado! removi o texto

[2017-04-10 14:20] miguelpeixe commented on #11
fde7986d8be905131f56ea96209ba29ceeb31613

[2017-04-13 12:31] miguelpeixe commented on #15
![timeline](https://cloud.githubusercontent.com/assets/820752/25004690/f3ad386a-202b-11e7-924a-de3f02280991.png)

[2017-04-17 15:29] miguelpeixe commented on #15
http://portal-mapas.conexaobrasil.org/linha-do-tempo/

[2017-04-17 15:29] miguelpeixe commented on #17
http://portal-mapas.conexaobrasil.org/comunidade/

[2017-04-17 15:29] miguelpeixe commented on #13
http://portal-mapas.conexaobrasil.org/rede/

[2017-04-18 20:18] thaisrigolon opened #26 "Página estática: Parceiros"
Adicionar as marcas de todos os parceiros na página estática **Parceiros**:

---
O projeto Mapas Culturais conta com uma rede formada por organizações, estados, municípios, gestores e desenvolvedores que trabalham de forma colaborativa para o aprimoramento e escalabilidade da plataforma.

[marcas.docx](https://github.com/institutotim/wp-theme-mapasculturais/files/930952/marcas.docx)

---
(observaç

[2017-04-19 13:43] miguelpeixe commented on #17
Em progresso:

![08-comunidade](https://cloud.githubusercontent.com/assets/820752/25183090/f3da9060-24ec-11e7-88c3-52cf0f5902f8.png)

Estamos estudando o comportamento do plugin Delibera para poder ter um design fiel ao fluxo da ferramenta.

[2017-04-19 13:48] miguelpeixe commented on #14
Notícias: http://portal-mapas.conexaobrasil.org/category/uncategorized/
Post único: http://portal-mapas.conexaobrasil.org/2017/03/27/hello-world/
Tutoriais: http://portal-mapas.conexaobrasil.org/tutorials/
Tutorial único: http://portal-mapas.conexaobrasil.org/tutorials/como-fazer-uma-instalacao-local-da-plataforma/

![09-noticias](https://cloud.githubusercontent.com/assets/820752/25183265/7ce160a0

[2017-04-19 13:49] miguelpeixe opened #27 "Design - Mapa da rede / página da instância"

[2017-04-19 13:49] miguelpeixe commented on #16
http://portal-mapas.conexaobrasil.org/suporte/

![03-suporte](https://cloud.githubusercontent.com/assets/820752/25183412/e9ee807e-24ed-11e7-952c-dbb687b8a650.png)

[2017-04-19 13:51] miguelpeixe commented on #27
http://portal-mapas.conexaobrasil.org/rede/
http://portal-mapas.conexaobrasil.org/author/vgeorge/

![06-rede](https://cloud.githubusercontent.com/assets/820752/25183523/3303893a-24ee-11e7-80db-d8536ca12521.png)
![07-instancia](https://cloud.githubusercontent.com/assets/820752/25183522/32fd2cac-24ee-11e7-992b-a8300bf54788.png)

[2017-04-19 13:52] miguelpeixe commented on #12
ver #14

[2017-04-19 14:14] miguelpeixe opened #28 "Design - Página inicial"
http://portal-mapas.conexaobrasil.org

![01-home](https://cloud.githubusercontent.com/assets/820752/25184628/5f1c6570-24f1-11e7-959c-72bc21cbb996.png)

[2017-04-19 14:15] miguelpeixe commented on #15
![02-timeline](https://cloud.githubusercontent.com/assets/820752/25184673/789147a0-24f1-11e7-976f-a3dcdeefdcc1.png)

[2017-04-19 14:18] thaisrigolon commented on #28
É possível deixar o botão para rolar a página até o final? No momento ele só está na primeira sessão...

![1](https://cloud.githubusercontent.com/assets/18294515/25184778/c99af2ea-24f1-11e7-8008-88ca3fb77dd0.png)

[2017-04-19 16:22] miguelpeixe commented on #28
A intenção do botão é indicar o usuário para passar para a próxima sessão, não descer até o rodapé. Ele existe porque o cabeçalho+hero tem sempre exatamente a altura do navegador, por isso o usuário nunca terá uma indicação (além dessa) de que existe mais conteúdo para baixo.

Não recomendo fazer esse botão rolar até o final, o usuário pode ficar confuso porque mutias vezes esse botão é sua primei

[2017-04-19 17:09] miguelpeixe commented on #26
http://portal-mapas.conexaobrasil.org/parceiros/

![11-parceiros](https://cloud.githubusercontent.com/assets/820752/25192482/bc4224de-2509-11e7-8cea-8d7a2f20a58d.png)

[2017-04-19 18:16] thaisrigolon commented on #28
A ideia seria ter o botão para ir para as próximas sessões na verdade, acho que não expliquei bem.
Nas instalações de mapas temos a seta que fica no menu lateral e facilita a navegação:
Exemplo: http://mapaculturalbh.pbh.gov.br/

[2017-04-19 19:15] miguelpeixe commented on #28
Entendi, ainda sim, a única sessão que tem o comportamento de tela cheia estabelecido é o cabeçalho+hero. As áreas seguintes tem altura fluida, que o usuário naturalmente terá que rolar para continuar visualizando a área (principalmente quando se chega na área de notícias/blog da rede). Se o usuário rolar através de uma navegação de botão poderá perder conteúdo no caminho.

[2017-04-19 22:28] vgeorge commented on #25
Foi implementado o mecanismo automático de coleta de estatísticas e não será necessário o post type descrito acima.

[2017-04-24 15:32] thaisrigolon commented on #11
Rodapé aprovado:

![rodape](https://cloud.githubusercontent.com/assets/18294515/25344990/222185cc-28ea-11e7-9608-d5a8332e1ade.png)

[2017-04-24 15:32] #11 closed, assigned to miguelpeixe

[2017-04-24 15:34] thaisrigolon commented on #10
Hero aprovado

![hero](https://cloud.githubusercontent.com/assets/18294515/25345047/47d62b6a-28ea-11e7-9812-a0b29ed5166f.png)

[2017-04-24 15:34] #10 closed, assigned to miguelpeixe

[2017-04-24 15:35] thaisrigolon commented on #12
Manter o cadastro para receber newsletter apenas no rodapé. Retirar widget de newsletter nas páginas estáticas.

[2017-04-24 15:46] thaisrigolon commented on #9
- [x] No campo **Busque qualquer coisa** seria importante ter um box (pode ser uma leve mudança de cor) pra mostrar que não faz parte do menu. Pode manter o campo no mesmo local, mas precisa ter um leve destaque.

![1](https://cloud.githubusercontent.com/assets/18294515/25345644/f4bcf560-28eb-11e7-8bb4-aae22e14fee5.png)

Referências:

![1](https://cloud.githubusercontent.com/assets/18294515/253454

[2017-04-24 15:53] thaisrigolon commented on #28
- [x] Manter separação da barra de notícias com o blog da rede mantendo a cor rosa até o final da parte:
![1](https://cloud.githubusercontent.com/assets/18294515/25345926/9a36d4fc-28ec-11e7-808c-aa988635f708.png)

- [x] Alterar a cor do botão "veja mais notícias"
![1](https://cloud.githubusercontent.com/assets/18294515/25345957/af2af960-28ec-11e7-8182-2e0aeff05bca.png)

- [x] Diminuir um pouco os

[2017-04-24 16:24] thaisrigolon commented on #15
- [x] Seria importante ter alguma ilustração ou elemento que mostrasse ao usuário que eles está nessa página. Como, por exemplo, na página da Comunidade.
![1](https://cloud.githubusercontent.com/assets/18294515/25347444/586d9196-28f1-11e7-8f97-e5cce42b6423.png)

- [x] Também seria interessante se, ao rolar a página, os blocos da linha do tempo fossem aparecendo. É possível?

[2017-04-24 16:38] thaisrigolon commented on #16
- [ ] Manter um padrão:
![1](https://cloud.githubusercontent.com/assets/18294515/25348032/4330456a-28f3-11e7-9a45-2f0890d9f84c.png)

[2017-04-24 18:54] thaisrigolon commented on #13
- [x] Seria importante ter alguma ilustração ou elemento que mostrasse ao usuário que ele está nessa página. Como, por exemplo, na página da Comunidade. A variação de cor poderia ajudar. Explorar a paleta de cores.
![1](https://cloud.githubusercontent.com/assets/18294515/25350400/6a9a5bce-28fb-11e7-89b1-3f3c9a1d9aa2.png)

- [x] Alinhar o **blog da rede** com **conheça as iniciativas**
![1](https:/

[2017-04-24 19:26] thaisrigolon commented on #27
As alterações da página do mapa da rede foram mencionadas na issue #13

---

### Página da instância
- [x] A cor do nome da secretaria precisa ser outra para diferenciar do nome da instalação
![4](https://cloud.githubusercontent.com/assets/18294515/25351194/4e7abf26-28fe-11e7-8569-1417ae336c3d.png)

- [x] Diminuir os título dos posts
![1](https://cloud.githubusercontent.com/assets/18294515/2535122

[2017-04-24 19:41] thaisrigolon commented on #17
Seria importante ter uma diferenciação de cor entre as partes **pautas em discussão** e **propostas de pauta**

![1](https://cloud.githubusercontent.com/assets/18294515/25355291/7dff7788-290c-11e7-94ae-091551770ee5.png)

[2017-04-24 19:46] miguelpeixe opened #29 "Metadados da Instância"
- [x] Equipe
   - Email
   - Nome
   - Posição
 - [x] Contato
- [x] Coordenadas

[2017-04-24 20:44] miguelpeixe commented on #15
Qual ilustração da Comunidade você faz referência para a linha do tempo?

Sobre o segundo item, excelente ideia, vou trabalhar nisso.

[2017-04-24 20:47] thaisrigolon commented on #15
![1](https://cloud.githubusercontent.com/assets/18294515/25357939/182627c2-2916-11e7-8abe-9218765d5a98.png)

[2017-04-24 20:50] miguelpeixe commented on #16
Qual padrão você se refere? O botão de tutoriais do cabeçalho (não o campo de busca) é um link para acesso direto à página de tutoriais (http://portal-mapas.conexaobrasil.org/tutorials/)

[2017-04-24 20:52] thaisrigolon commented on #26
- [x] Seria importante ter alguma ilustração ou elemento que mostrasse ao usuário que ele está nessa página. Como, por exemplo, na página da Comunidade. A variação de cor poderia ajudar. Explorar a paleta de cores.
![1](https://cloud.githubusercontent.com/assets/18294515/25357651/fc852a5a-2914-11e7-8465-756d18e6920f.png)

- [x] As marcas do Instituto TIM e do MinC precisam estar maiores do que as

[2017-04-24 20:54] thaisrigolon commented on #16
Certo. Então vamos manter da forma que está.

[2017-04-24 20:54] #16 closed, assigned to miguelpeixe

[2017-04-24 21:02] thaisrigolon commented on #14
- [x] É bem importante também ter uma cor diferente na abertura ou ilustração que identifique que estamos na página específica.
- [x] Adicionar cores diferentes nos links, como foi feito na página de suporte.
![1](https://cloud.githubusercontent.com/assets/18294515/25354767/acbb00c6-290a-11e7-907a-d58f3916c3a7.png)
- [x] Dar mais destaque no widget de texto
![1](https://cloud.githubusercontent.com

[2017-04-25 19:32] vgeorge opened #30 "Páginas de erro"
Quando o servidor retorna status 4xx ou 5xx deve ser exibida página de erro.

[2017-04-25 20:30] miguelpeixe commented on #15
A região destacada é um gráfico de contribuições no repositório do mapasculturais. Ainda sim, acha uma boa ideia ilustrar as páginas de linha do tempo e página das instâncias?

[2017-04-25 20:33] thaisrigolon commented on #15
Sim, gostaríamos que essas páginas tivessem ilustrações ou algumas cores diferentes na abertura como foi feito na página de suporte, por exemplo:

![1](https://cloud.githubusercontent.com/assets/18294515/25406491/35365d10-29dd-11e7-9a74-745f57322762.png)

[2017-04-25 20:33] miguelpeixe commented on #14
Sobre as dúvidas, a página estática terá também a possibilidade template sem barra lateral (widgets). Vou adicionar no design exemplo de foto na página e o modelo de página sem barra lateral.

[2017-04-25 20:33] miguelpeixe commented on #15
Ok

[2017-04-25 20:34] thaisrigolon commented on #14
Ok

[2017-04-28 15:10] miguelpeixe commented on #14
Página estática comum: http://portal-mapas.conexaobrasil.org/sample-page/
Página estática "full width": http://portal-mapas.conexaobrasil.org/exemplo-de-pagina-de-full-width/

[2017-04-28 15:28] #12 closed, assigned to miguelpeixe

[2017-04-28 15:28] thaisrigolon commented on #9
Ok, issue homologada.

[2017-04-28 15:28] #9 closed, assigned to miguelpeixe

[2017-05-08 15:02] thaisrigolon commented on #27
Aproximar o box com dados da foto. O box está com distâncias muito próximas das duas infos - cima e baixo. Aproximando fica mais fácil de conectar o quadro com as infos da plataforma certa.

![screen shot 2017-05-08 at 11 00 38 am](https://cloud.githubusercontent.com/assets/18294515/25810309/2062695c-33e6-11e7-8942-26c695cdbb08.png)

[2017-05-08 15:05] thaisrigolon commented on #26
Aproximar título do box, aumentar a letra pode ser uma opção:
![screen shot 2017-05-08 at 11 06 37 am](https://cloud.githubusercontent.com/assets/18294515/25810502/af2003d4-33e6-11e7-89ea-21f9289dcc64.png)

[2017-05-08 15:06] thaisrigolon commented on #28
Ok, issue homologada.

[2017-05-08 15:06] #28 closed, assigned to miguelpeixe

[2017-05-08 15:07] thaisrigolon commented on #15
Ok, issue homologada.

[2017-05-08 15:07] #15 closed, assigned to miguelpeixe

[2017-05-08 15:07] thaisrigolon commented on #13
Aproximar o box com dados da foto. O box está com distâncias muito próximas das duas infos - cima e baixo. Aproximando fica mais fácil de conectar o quadro com as infos da plataforma certa.

![screen shot 2017-05-08 at 11 00 38 am](https://cloud.githubusercontent.com/assets/18294515/25810309/2062695c-33e6-11e7-8942-26c695cdbb08.png)

[2017-05-08 15:08] thaisrigolon commented on #27
Ok, issue homologada.

[2017-05-08 15:08] #27 closed, assigned to miguelpeixe

[2017-05-08 15:16] thaisrigolon commented on #14
- [x] Ícone da página de suporte não remete ao tema. Gostaríamos de outra opção.
![1](https://cloud.githubusercontent.com/assets/18294515/25810411/6e7c73f8-33e6-11e7-8d7e-9f4e977a4d94.png)

- [ ] Na página da comunidade mudar as cores de uma das colunas para diferenciar os tipos de pautas. As cores podem estar no título e boxes.
![1](https://cloud.githubusercontent.com/assets/18294515/25810472/945

[2017-05-09 20:01] miguelpeixe commented on #13
Alterações realizadas: http://portal-mapas.conexaobrasil.org/rede/

[2017-05-09 20:01] miguelpeixe commented on #26
alterações realizadas: http://portal-mapas.conexaobrasil.org/parceiros/

[2017-05-09 20:06] miguelpeixe commented on #14
Os ícones ganharam um novo estilo de exibição, todos ícones de cabeçalho de página possuem estão em um círculo conectado à linha de cabeçalho do site.

 - Novo ícone de suporte: http://portal-mapas.conexaobrasil.org/suporte/
 - Página *full* com menor grid, menor margem de excerto rosa e exemplos de uso de imagem full: http://portal-mapas.conexaobrasil.org/exemplo-de-pagina-de-full-width/ http://p

[2017-05-11 16:02] thaisrigolon commented on #13
Ok, issue homologada.

[2017-05-11 16:02] #13 closed, assigned to miguelpeixe

[2017-05-11 16:06] thaisrigolon commented on #14
Diminuir a largura do widget de texto e da categoria. Diminuir um pouco a fonte também.

Em computadores com resolução de tela menor os textos ficam enormes, cobrem um terço da página. Chama muita atenção e deixa o texto da matéria em segundo plano.
![image010](https://cloud.githubusercontent.com/assets/18294515/25959599/80e932ea-364a-11e7-9d82-cceb068a6e94.jpg)

[2017-05-11 18:06] thaisrigolon commented on #26
Por favor, alterar o texto do box rosa para:

Também inserir a marca da prefeitura de São Paulo na primeira linha, depois da marca do MinC e diminuir os logos da segunda e terceira linha de forma que formem uma linha só:
![1](https://cloud.githubusercontent.com/assets/18294515/25964787/6b0aaeec-365c-11e7-8da6-fc4b18d6824e.png)

[2017-05-11 20:00] miguelpeixe commented on #26
Página atualizada: http://portal-mapas.conexaobrasil.org/parceiros/

Optei por inserir o logo da prefeitura antes do MinC, por protocolo do manual de identidade do governo federal. Não é permitido que nenhuma marca esteja à direita da marca do governo.

[2017-05-11 20:03] miguelpeixe commented on #26
O texto da página Rede também foi atualizado com o mesmo texto da página parceiros: http://portal-mapas.conexaobrasil.org/rede

[2017-05-11 20:49] miguelpeixe commented on #14
Estilo e margem das barras laterais ajustados. Largura das margens na página do membro da rede se manteve igual pela relevância das informações alí contidas, aguardo aprovação dessa decisão.

[2017-05-11 21:28] thaisrigolon commented on #26
Ok, issue homologada.

[2017-05-11 21:28] #26 closed, assigned to miguelpeixe

[2017-05-12 17:41] thaisrigolon commented on #14
Ótimo, podemos manter assim.

[2017-05-16 20:32] miguelpeixe commented on #17
Página da comunidade redesenhada para se adequar às últimas definições de design do site e também de acordo com o fluxo de funcionamento do plugin Delibera

![08-comunidade_02](https://cloud.githubusercontent.com/assets/820752/26126837/7b370be4-3a5d-11e7-8ccc-d8fc9b0d8925.png)

[2017-05-18 16:11] thaisrigolon commented on #17
Ficou bem legal! Apenas algumas observações (veja se é possível realizar):

- [x] Os botões estão em tamanhos diferentes, precisa ficar no mesmo padrão:
![1](https://cloud.githubusercontent.com/assets/18294515/26212233/45f258d4-3bcb-11e7-9907-726f8c89bf05.png)

- [x] Daria pro número ficar mais próximo do botão? No momento está confuso porque parece que o número 1 está entre as duas imagens.
![1](

[2017-05-18 16:12] thaisrigolon commented on #14
Issue homologada.

Sobre o pedido da página de comunidade, o layout já está sendo homologado na issue #17

[2017-05-18 16:12] #14 closed, assigned to miguelpeixe

[2017-05-18 18:16] miguelpeixe commented on #17
Sobre o tamanho do botão, o erro foi identificado assim que publiquei o printscreen e já corrigido. O restante estou trabalhando agora.

[2017-05-18 19:39] miguelpeixe commented on #17
![08-comunidade_03](https://cloud.githubusercontent.com/assets/820752/26220320/919b77a8-3be8-11e7-9c5f-bb8289cebcde.png)

[2017-05-18 19:45] thaisrigolon commented on #17
É possível alterar a distância do número na outra coluna também?

![1](https://cloud.githubusercontent.com/assets/18294515/26220518/52d97d34-3be9-11e7-8336-69901828c963.png)

[2017-05-24 19:38] miguelpeixe commented on #17
![captura de tela de 2017-05-24 16-38-01](https://cloud.githubusercontent.com/assets/820752/26422247/743c9e38-409f-11e7-8eec-1c2b4972d688.png)

[2017-05-24 20:17] thaisrigolon commented on #17
Ok, issue homologada.

[2017-05-24 20:17] #17 closed, assigned to miguelpeixe

[2017-05-30 18:35] vgeorge commented on #24
Está implementado o formulário de edição, onde o usuário pode definir título, texto e data para itens da linha do tempo. As datas podem ser descritas no formato YYYY, YYYY-MM e YYYY-MM-DD e será gerado o texto localizado para o idioma habilitado no WP:   ![captura de tela 2017-05-30 as 15 33 26](https://cloud.githubusercontent.com/assets/329694/26598996/6a4c46a0-454d-11e7-8d30-a51ab0a1dcf3.png)

[2017-05-30 18:40] vgeorge opened #31 "Thumbnail na Timeline"
Os thumbnails estão habilitados, mas não aparecem corretamente.

[2017-05-30 18:40] vgeorge opened #32 "Scroll na Timeline"
Animação na rolagem não está funcionando

[2017-06-01 20:15] vgeorge commented on #24
A edição de eventos da timeline agora está disponível no ambiente de validação. Aqui está o link para a página da timeline: http://portal-mapas.conexaobrasil.org/timeline/

[2017-06-05 20:15] miguelpeixe commented on #31
fixed with aba25dc4fd59c4a9baee95389f91e6fb57040c61

[2017-06-05 20:16] miguelpeixe commented on #32
fixed with f402b9cd291c60420c91b74d9264bb129264e786

[2017-06-05 20:18] miguelpeixe commented on #31
Por conta da implementação de um novo `image_size`, é necessário fazer upload de nova imagem para testar a thumbnail, ou instalar o plugin [Regenerate Thumbnails](https://wordpress.org/plugins/regenerate-thumbnails/) para gerar as thumbnails novamente.

[2017-06-05 23:10] vgeorge commented on #29
Adicionei os campos de contato e de equipe e renomeei o role para "instância".

[2017-06-14 20:49] vgeorge commented on #24
@thaisrigolon Eu adicionei alguns eventos, é possível alterá-los na área administrativa.

[2017-06-14 20:54] vgeorge commented on #32
@thaisrigolon Havia um problema na rolagem que foi corrigido. A menos que você identifique alguma alteração necessária para o scroll da página de timeline, sugiro o encerramento do issue.

Link para verificação: http://portal-mapas.conexaobrasil.org/timeline/

[2017-06-14 21:02] vgeorge commented on #31
@thaisrigolon Thumbnails parecem estar funcionando corretamente, sugiro encerramento.

[2017-06-14 21:15] vgeorge commented on #29
@thaisrigolon É possível editar os metadados no perfil do usuário com role "instância":

![Captura de Tela 2017-06-14 às 18.04.25.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58c6e9d95ee3431a0002647c/125516c66e82c728ace21e0d46cb958a379791a8cfedba039058fc95691477227e49f37d3dd4b768beee9b124f5e46b2415c4146f9eb9539e6f4632adf0f4fffdb7f5a7c953412fdbb854bbd01b226884f85b5b4834

[2017-06-14 21:21] vgeorge commented on #29
Dei-me conta agora que falta o campo de coordenadas, a issue volta para "in progress".

[2017-06-14 21:25] vgeorge commented on #19
O Delibera é GPL: https://github.com/redelivre/delibera#licen%C3%A7a

Agora basta adicionar a declaração de licença no README e o LICENSE.txt.

[2017-06-14 21:28] thaisrigolon commented on #19
Beleza!

[2017-06-14 21:29] #31 closed, assigned to miguelpeixe, thaisrigolon

[2017-06-26 15:46] thaisrigolon commented on #24
O teste de vocês foi feito no ambiente local, certo?
No link http://portal-mapas.conexaobrasil.org/linha-do-tempo/ ainda não conseguimos testar?

[2017-06-26 15:53] vgeorge commented on #24
O link correto é: http://portal-mapas.conexaobrasil.org/timeline/

Este último que você colocou fazia parte da validação de layout e será removido.

[2017-06-26 17:13] thaisrigolon commented on #24
Ok, consegui adicionar um evento. Mas em qual local eu faço o gerenciamento dos eventos anteriores?
Tem algum local no WP que centraliza todos os eventos criados da linha do tempo?

[2017-06-26 18:23] vgeorge commented on #24
Na seção "Timeline" do menu administrativo existe a opção "All items", que lista as entradas já cadastradas.

[2017-06-26 18:43] thaisrigolon commented on #24
- [ ] Não é possível colocar um período de ocorrência como, por exemplo: 2003-2008
- [ ] Só está aparecendo 10 eventos na linha do tempo. Adicionei mais de 10 e os outros não aparecem...

[2017-06-26 19:06] thaisrigolon commented on #32
Ok, issue homologada.

[2017-06-26 19:06] #32 closed, assigned to miguelpeixe, thaisrigolon

[2017-07-12 19:29] thaisrigolon commented on #24
A linha do tempo está desconfigurada... só aparecem os textos:

![1](https://user-images.githubusercontent.com/18294515/28136210-3dc67846-671f-11e7-82ba-05f826c41e5e.png)

[2017-07-27 03:22] vgeorge commented on #24
http://portal-mapas.conexaobrasil.org/timeline/

Esse é o meu screenshot, você vê diferente?

<img width="512" alt="image" src="https://user-images.githubusercontent.com/329694/28653001-875efb34-7261-11e7-8abf-b7704280b62c.png">

[2017-07-27 12:54] thaisrigolon commented on #24
Agora voltou a funcionar, mas continua não aparecendo mais de 10 eventos na linha do tempo e não é possível colocar um período de ocorrência como, por exemplo: 2003-2008

![1](https://user-images.githubusercontent.com/18294515/28671023-9645ce3e-72b1-11e7-94d5-38bdbca3a779.png)

[2017-08-01 16:03] thaisrigolon opened #33 "Layout - Home"
- [x] Clarear um pouco o azul escuro do fundo. Em alguns computadores está parecendo preto:
![1](https://user-images.githubusercontent.com/18294515/28834750-9235dd28-76b9-11e7-9c21-0a2ac619741f.png)

- [x] O título Mapas Culturais não está aparecendo acima do texto. Por favor, adicionar novamente e colocar em amarelo para dar destaque (utilizar o mesmo amarelo do logo acima):
![1](https://user-ima

[2017-08-01 16:17] thaisrigolon opened #34 "Layout - Mapa da Rede"
Na caixa em amarelo, alterar para o seguinte texto deixando o Instituto TIM em negrito e com link para o site:

![1](https://user-images.githubusercontent.com/18294515/28835462-c3b0ca28-76bb-11e7-9d8f-35da91fe86fb.png)

[2017-08-01 16:23] thaisrigolon opened #35 "Layout - Pontilhados nas páginas"
Suavizar os pontilhados com fundo branco em todas as páginas, puxando para o cinza:

- [x] Home
- [x] Comunidade
![1](https://user-images.githubusercontent.com/18294515/28835610-5bb4c414-76bc-11e7-8b24-6d041215bf91.png)
- [x] Mapa da Rede
![1](https://user-images.githubusercontent.com/18294515/28835629-72531e82-76bc-11e7-93a6-928f5b069932.png)
- [x] Tutoriais
![1](https://user-images.githubusercon

[2017-08-01 16:27] thaisrigolon opened #36 "Layout - Página da secretaria"
- [x] Deixar o texto das estatísticas numa linha só:
![1](https://user-images.githubusercontent.com/18294515/28835738-ca5e7d6a-76bc-11e7-9995-ee94be9607f5.png)

- [x] Suavizar os pontilhados, puxando para o cinza:
![1](https://user-images.githubusercontent.com/18294515/28835685-9a2bc29c-76bc-11e7-896b-575f7bbac79a.png)

[2017-08-01 16:29] thaisrigolon opened #37 "Layout - Parceiros"
- [x] Alterar o seguinte texto para:

![1](https://user-images.githubusercontent.com/18294515/28835897-558069da-76bd-11e7-9d0c-225a324d36ff.png)

- [x] A marca do Instituto TIM precisa ficar um pouco maior, sempre alinhada em tamanho com a marca da prefeitura de SP e do MinC.
![1](https://user-images.githubusercontent.com/18294515/28835879-45873e64-76bd-11e7-8a52-08219f134748.png)

[2017-08-01 19:27] thaisrigolon opened #38 "Layout - Página de Suporte"
- [x] Alterar frase de busque por tutoriais para "Busque informações de suporte"
![1](https://user-images.githubusercontent.com/18294515/28842864-ae87c664-76d5-11e7-97ef-9c504fdc8d9e.png)

- [x] Alterar "chat" para "Rocket Chat"
![1](https://user-images.githubusercontent.com/18294515/28842918-cfb97c9c-76d5-11e7-8262-386365cecc6f.png)

- [x] Separar melhor a parte de manual e de chat:
![1](https://

[2017-08-04 19:38] thaisrigolon commented on #33
- [x] Clarear um pouco mais o azul... em algumas telas ainda está bem escuro:
![auzl](https://user-images.githubusercontent.com/18294515/28984094-a9ba5098-7932-11e7-871b-5e192ad1f5f8.png)

- [x] Como as letras foram diminuídas ficou muito espaço após o texto em resolução no MAC:
![1](https://user-images.githubusercontent.com/18294515/28984218-466629bc-7933-11e7-8766-f635b39fbbf0.png)

Diminuir um

[2017-08-07 19:06] vgeorge commented on #24
Resolvi a limitação de itens, adicionei períodos e melhorei a tradução. Miguel vai revisar a exibição das datas por extenso que estão quebrando a visualização:

<img width="512" alt="image" src="https://user-images.githubusercontent.com/329694/29041715-579a8800-7b8a-11e7-8868-ff47653b978e.png">

[2017-08-07 19:21] vgeorge commented on #19
Movi os termos da licença para o final do README. Pelo que entendi a recomendação da FSF é de colocar o disclaimer no topo dos arquivos de código-fonte, mas não no readme. De qualquer jeito me parece cauteloso demais e difícil de manter a colocação de termos da licença em todos os arquivos, no readme me parece suficiente.

[2017-08-08 19:21] miguelpeixe commented on #33
Ajustes realizados

[2017-08-08 20:38] miguelpeixe commented on #24
O estilo das datas foi atualizado para ser mais flexível com tamanhos. Diminuí um pouco o tamanho do texto (para evitar quebras de linhas desnecessárias) e forcei quebra de linha (com estilo resolvido) para casos de início e fim determinados.

[2017-08-09 23:30] thaisrigolon commented on #19
Ok

[2017-08-15 15:09] thaisrigolon commented on #36
O link que temos para validar esta página é: http://portal-mapas.conexaobrasil.org/author/vgeorge/
Mas o texto das estatísticas não está numa linha só. Este link está atualizado ou devemos acessar outro?

[2017-08-15 20:11] thaisrigolon commented on #37
Ok, issue homologada.

[2017-08-15 20:11] #37 closed, assigned to nobody

[2017-08-15 20:11] thaisrigolon commented on #33
Ok, issue homologada.

[2017-08-15 20:11] #33 closed, assigned to nobody

[2017-08-15 20:12] thaisrigolon commented on #35
Ok, issue homologada.

[2017-08-15 20:12] #35 closed, assigned to nobody

[2017-08-15 20:16] thaisrigolon commented on #38
- [x] O título "tutoriais" deve seguir o mesmo padrão de manual:
![1](https://user-images.githubusercontent.com/18294515/29334259-30fdfa2a-81dd-11e7-96ee-7f9a37334b30.png)
![2](https://user-images.githubusercontent.com/18294515/29334260-33b8dad2-81dd-11e7-9164-939291a863ed.png)

[2017-08-15 20:20] thaisrigolon commented on #34
- [x] A parte azul inteira deve aparecer no primeiro plano para o usuário. Como aumentamos o texto, agora a parte de indicadores das entidades não aparece, só quando o usuário rola a página.
Sugerimos aumentar a largura do quadro amarelo e diminuir um pouco a letra.

![1](https://user-images.githubusercontent.com/18294515/29334428-badcdc2a-81dd-11e7-85c3-b6b9c3d47175.png)

![1](https://user-images

[2017-08-15 20:30] thaisrigolon commented on #24
É possível deixar as datas de início/fim na mesma linha?
![1](https://user-images.githubusercontent.com/18294515/29334855-30588d7c-81df-11e7-9a94-35b9d46d76b4.png)

[2017-08-21 23:10] miguelpeixe commented on #24
Feito

[2017-08-21 23:16] miguelpeixe commented on #38
Feito

[2017-08-21 23:17] miguelpeixe commented on #36
Foi alterado o estilo para ter maior possibilidade de apresentação em uma linha só. Isso vai depender da resolução de tela. Como o texto é flexível e queremos otimizar legibilidade, para deixar em uma linha só será necessário ter um texto com menos caracteres.

[2017-08-21 23:28] thaisrigolon commented on #24
Ótimo! Homologado.

[2017-08-21 23:28] #24 closed, assigned to thaisrigolon

[2017-08-21 23:28] miguelpeixe commented on #34
Os tamanhos foram atualizados e o grid redistribuído. Sobre as ilhas que aparecem no canto superior direito do mapa, não há como removê-los sem alterar a tecnologia de mapa utilizada. Sua aparição é relativa à resolução e com o novo grid (menos espaço no mapa) ele tem menos chances de aparecer.

[2017-08-21 23:30] thaisrigolon commented on #38
Ok, homologado.

[2017-08-21 23:30] #38 closed, assigned to nobody

[2017-08-21 23:55] thaisrigolon commented on #34
Certo.
Issue homologada.

[2017-08-21 23:55] #34 closed, assigned to nobody

[2017-08-21 23:55] thaisrigolon commented on #36
Certo, vamos manter assim a princípio.
Issue homologada.

[2017-08-21 23:55] #36 closed, assigned to nobody

[2017-10-16 20:12] #19 closed, assigned to thaisrigolon

[2017-10-16 20:26] vgeorge opened #39 "Traduções (localization)"
Finalizar a tradução de strings ao português.

[2017-10-16 20:57] miguelpeixe opened #40 "Integração de menus"

[2017-10-16 20:59] miguelpeixe opened #41 "Bug de performance na Timeline"

[2017-10-16 21:04] miguelpeixe opened #42 "Integrar botões de páginas no modelo de página inicial"
- [x] Suporte
 - [x] Saiba mais
 - [x] Conheça as instalações
 - [x] Veja mais notícias
 - [x] Conheça o blog da rede

[2017-10-16 21:06] miguelpeixe opened #43 "Listagem de blog da rede na página inicial"

[2017-10-16 21:08] miguelpeixe opened #44 "Botões da seção "Faça parte da comunidade""
Integrar:
 - [x] GitHub
 - [x] Participe da discussão

Provavelmente deverá ser necessário criar as opções de edição desse campo numa página configuração à parte (geralmente uma única página de "opções do tema").

[2017-10-16 21:08] miguelpeixe opened #45 "Integração newsletter"
Mailchimp?

[2017-10-16 21:17] miguelpeixe opened #46 "Integração de listas da página "Mapa da Rede""
- [x] Autores (iniciativas)
 - [x] Posts da rede

[2017-10-16 21:19] miguelpeixe opened #47 "Integração de corpo de texto da página Mapa da Rede"

[2017-10-16 21:19] miguelpeixe opened #48 "Integração das estatísticas de instalações na página Mapa da Rede"

[2017-10-16 21:20] miguelpeixe opened #49 "Integração dos dados de mapa na página Mapa da Rede"
http://hmg.mapasculturais.medialab.ufg.br/rede

[2017-10-16 21:26] miguelpeixe opened #50 "Criação de campos para edição da página Suporte"
- [x] Link para Rocket.Chat
 - [x] Upload/link do manual (pdf)

[2017-10-16 21:28] miguelpeixe opened #51 "Integração de funcionalidades da página Suporte"
- [x] Corpo de texto e demais metadados (links)
 - [x] Seção tutoriais
 - [x] Ferramenta de busca de tutoriais

[2017-10-16 21:31] miguelpeixe opened #52 "Integração do cabeçalho (Página Autor)"
- [x] Corpo de texto
- [x] Estatísticas
- [x] Botão "Acesse a Plataforma"

[2017-10-16 21:33] miguelpeixe opened #53 "Listagem de posts (Página Autor)"

[2017-10-16 21:34] miguelpeixe opened #54 "Funcionalidades da barra lateral (Página da Instância)"
- [x] Estatísticas
- [x] Equipe
- [x] Metadados

[2017-10-16 22:00] miguelpeixe opened #55 "Funcionalidades da página comunidade"
- [x] Estatísticas do repositório GitHub
 - [x] Corpo do trecho "Discussões"
 - [x] Lista/links categorias de pauta
 - [x] Área de autenticação/informações de usuário autenticado (login/logout)

[2017-10-16 22:00] miguelpeixe opened #56 "Página única da pauta (delibera)"

[2017-10-16 22:01] miguelpeixe opened #57 "Formulário de criação/edição de pauta"

[2017-10-16 22:07] miguelpeixe opened #58 "Páginas de posts"
## Conteúdo

 - Home de posts
 - Tags
 - Categorias
 - Busca
 - Termos de taxonomias customizadas
 - Arquivo por data (dia, mês, ano)

---

 - [x] Integrar cabeçalho
   - [x] Título e descrição (home de notícias ou título e descrição da categoria)
   - [x] Lista de categorias
 - [x] Integração de sidebar na barra lateral
 - [x] Lista de posts com thumbnail e paginação

[2017-10-16 22:09] miguelpeixe opened #59 "Página única de post"
- [x] Cabeçalho
   - [x] Link para home de notícias
   - [x] Categoria(s) do post
   - [x] Título
 -  [x] Metadados (autor, data, tags)
 -  [x] Integração de sidebar na barra lateral

[2017-10-16 22:11] miguelpeixe opened #60 "Widget da seção tutoriais"
- [x] Título customizável
 - [x] Link para público alvo
 - [x] Lista de categorias de tutoriais

[2017-10-16 22:14] miguelpeixe opened #61 "Página de tutoriais"
- [x] Cabeçalho
    - [x] Seleção dropdown de público alvo
    - [x] Ferramenta de busca (resultado aparece no mesmo layout)
 - [x] Lista de tutoriais
   - [x] Categoria, complexidade, público alvo e versões relacionadas
   - [x] Paginação
 - [x] Integração de sidebar específica na barra lateral

[2017-10-16 22:17] miguelpeixe opened #62 "Página única de tutorial"
- [x] Cabeçalho
   - [x] Link para home de tutoriais
   - [x] Categoria(s) do tutorial
   - [x] Título
 -  [x] Metadados (público alvo, complexidade, versões relacionadas)
 -  [x] Integração de sidebar específica (mesma da página da tutoriais) na barra lateral
 -  [x] Corpo do tutorial

[2017-10-16 22:25] miguelpeixe opened #63 "Campo de busca do cabeçalho"

[2018-01-24 17:30] cabelotaina commented on #63
done

[2018-01-24 17:40] cabelotaina commented on #50
Coloquei apenas um campo de link, pois basta subir o arquivo em media e copiar a url.

[2018-01-24 18:52] cabelotaina commented on #61
Pessoal a pagina que lista os tutoriais ela não tem nenhuma menção a versões relacionadas:

![image](https://user-images.githubusercontent.com/1827173/35351015-cfa5f916-0126-11e8-87e6-c20c2bee35f5.png)

Posso colocar logo abaixo de todas?

[2018-01-26 14:23] miguelpeixe commented on #61
A informação de versão poderia estar só na página do tutorial mesmo

[2018-01-27 11:52] vgeorge commented on #63
Ao fazer uma busca é retornado um 404:

<img width="1027" alt="captura de tela 2018-01-27 as 11 52 14" src="https://user-images.githubusercontent.com/329694/35471700-91ca8f4c-0358-11e8-9dfe-293f3b3459b4.png">

[2018-01-27 12:14] vgeorge commented on #40
O estilo está quebrado:

<img width="1057" alt="captura de tela 2018-01-27 as 12 13 56" src="https://user-images.githubusercontent.com/329694/35471858-9cc8d4dc-035b-11e8-9ddb-c2513680ff1a.png">

[2018-01-27 12:24] vgeorge commented on #62
Estilo está quebrado, consulte o #14.

<img width="1002" alt="captura de tela 2018-01-27 as 12 21 17" src="https://user-images.githubusercontent.com/329694/35471919-fbe151dc-035c-11e8-805c-86c0ffbc4ae2.png">

[2018-01-27 12:27] vgeorge commented on #61
O estilo da página está quebrado.

[2018-01-27 12:32] vgeorge commented on #30
- [x] Remover campo de buscar de busca por tutoriais nesta página
- [x] Remover caixa de texto branca
- [x] Substituir "404 Error" por "Página não encontradar"
- [x] Substituir "This is somewhat embarrassing, isn’t it?" por "Volte à página inicial (com link) ou faça uma busca."

[2018-01-27 12:40] vgeorge commented on #21
- [x] Alterar "More info's" para "Additional info"
- [x] Usar somente "agents" and "maintainers" ao invés de "for agents.."
- [x] Localização e tradução ao pt de todos os widgets
- [x] Complexidade deve ser um dropdown com as opções "easy", "medium", "advanced"

[2018-01-27 12:53] vgeorge commented on #45
Instalei o plugin do Mailchimp e coloquei a API, mas o form não apareceu:

<img width="1009" alt="captura de tela 2018-01-27 as 12 51 59" src="https://user-images.githubusercontent.com/329694/35472113-02810c40-0361-11e8-9a59-d037bc3800a8.png">

[2018-01-27 13:05] vgeorge commented on #58
- [x] Mostrar nome do usuário e não o de login
- [x] Seguir estilo do #14
- [x] Widget de texto quebrado

[2018-01-27 13:07] vgeorge commented on #59
- [x] Mostrar nome do usuário e não o de login
- [ ] Seguir estilo do #14
- [ ] Widget de texto quebrado

[2018-01-27 13:08] cabelotaina commented on #63
Necessita habiltar o tema e salvar os permalinks para rewrite tags adicionar as novas rotas.

[2018-01-27 13:14] cabelotaina commented on #40
Me menda uma copia do código gerado para o menu. Para comparar com a que tenho sendo gerada aqui. Assim posso ter uma ideia do que não esta funcionando. Atualmente o css não teve modificações para a implementação desta funcionalidade. Note que o código esta em header e basicamente se trata disso:

[code]

[2018-01-27 13:21] cabelotaina commented on #62
Como havia colocado na reunião sugiro que vocês façam esse tipo de personalização do css, por conta de não ter muita intimidade com isso. Só para que eu entenda melhor, o problema esta no dropdown menu certo @vgeorge, neste caso o  @miguelpeixe poderia dar um help nessa parte?

[2018-01-27 13:27] vgeorge commented on #40
O menu aparece corretamente para você? Esse é o código que está sendo gerado:

<img width="592" alt="captura de tela 2018-01-27 as 13 25 54" src="https://user-images.githubusercontent.com/329694/35472366-a8008886-0365-11e8-8877-27c43e26004a.png">

[2018-01-27 13:30] cabelotaina commented on #45
Primeiro

![image](https://user-images.githubusercontent.com/1827173/35472382-56346b36-0355-11e8-931d-1aaae0bae089.png)

Segundo

![image](https://user-images.githubusercontent.com/1827173/35472384-5ec20cb8-0355-11e8-89db-598e868a23c1.png)

Texto para o campo

[code]

[2018-01-27 13:33] cabelotaina commented on #40
Sim ele aparece, e esta com o código bem diferente:

![image](https://user-images.githubusercontent.com/1827173/35472415-e6c93442-0355-11e8-885f-74de245a92e8.png)

[2018-01-27 13:36] cabelotaina commented on #40
Nesse caso o css não esta quebrado ele nem mesmo foi aplicado sobre a tag.

[2018-01-27 15:04] cabelotaina commented on #55
Aqui sera utilizado tema ao invez de categoria, porque a categoria de pauta é a mesma categoria de post, e por isso ao clicar na categoria somos enviados para uma pagina que lista nao apenas pautas mas posts tambem, no entanto o delibera tem uma categoria que se chama tema, que permite filtrar as pautas pelo tema, acredito que seja o melhor a usar. Outro ponto é que as pautas vão aparecer na lista

[2018-01-27 15:19] cabelotaina commented on #55
@miguelpeixe por favor compartilha comigo aquela documentação que vai me ajudar com a construção de uma página de settings para o tema mais alinhada ao wp admin.

[2018-01-27 15:39] cabelotaina commented on #59
Ola eu usei a func the_author para mostrar, ela permite que o usuário escolha qual nome mostrar. Se eu forçar e o usuário não tiver inserido o nome vamos ter que fazer um tratamento que na vdd é justamente o que a função faz

![image](https://user-images.githubusercontent.com/1827173/35473382-e3e5f920-0366-11e8-8243-d9f3e7169068.png)

https://core.trac.wordpress.org/browser/tags/4.9/src/wp-include

[2018-01-27 16:49] cabelotaina commented on #59
@vgeorge vc pode me mandar um print codigo do widget de texto quebrado ou alguma informação pois como eu disse não esta quebrando css ou qualquer coisa do tipo no momento. Por isso vou precisar de mais detalhes.

[2018-01-30 23:27] cabelotaina commented on #58
Mostrar nome de usuário e não o de login tem uma resposta em https://github.com/institutotim/wp-theme-mapasculturais/issues/59#issuecomment-360992798

[2018-01-30 23:27] cabelotaina commented on #58
Vamos ter que fazer uma reunião para olhar especificamente para estas questões. Pois preciso conseguir reproduzir o erro.

[2018-01-31 00:47] cabelotaina commented on #61
Mesmo problema, preciso de mais informações para saber o que esta ocorrendo pois não tenho como reproduzir o bug.

[2018-02-22 11:56] vgeorge commented on #62
A formatação melhorou, mas há um erro no console quando o conteúdo tem mais de 1 parágrafo.

[2018-02-22 12:00] vgeorge opened #65 "Tratar erro em chamadas à API do Github"
Esta linha está gerando um erro quando há um problema no request ao Github:

https://github.com/institutotim/wp-theme-mapasculturais/blob/master/js/github.js#L12

[2018-02-22 12:00] vgeorge commented on #62
Na verdade é o problema no console não é relacionado à pagina, mas ao erro #65

[2018-02-22 16:01] vgeorge commented on #45
Existe algum outro passo? Na instalação de homologação aparece um erro ao invés do formulário.

[2018-02-22 16:47] vgeorge commented on #45
Consegui resolver, mas ele está retornando a mensagem de sucesso/erro em inglês, mesmo quando a instalação do WP está em português.

[2018-02-22 17:17] cabelotaina commented on #45
isso deve estar relacionado ao plugin temos que ver se ele possui tradução para o portugues

[2018-02-22 17:32] vgeorge commented on #42
O ACF não está exibindo as opções de páginas na área de configuração da página inicial e não há como alterar os botões da página inicial:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=14&action=edit

[2018-02-22 17:49] vgeorge opened #66 "Itens da linha do tempo não aparecem"
Criei alguns posts para a linha do tempo, mas eles não aparecem:

http://hmg.mapasculturais.medialab.ufg.br/linha-do-tempo/

[2018-02-22 18:38] #25 closed, assigned to vgeorge

[2018-02-22 19:21] vgeorge commented on #43
Não está sendo exibido o nome do usuário e avatar. Quando o usuário não tiver avatar seria melhor exibir uma imagem genérica, por exemplo o logo da plataforma.

[2018-02-22 19:30] vgeorge commented on #50
A implementação deste campo deve ser feita via ACF, como foi feito na homepage, pois assim se mantém um padrão de configuração de páginas e evita-se a má formatação da página de configuração do tema. O campo pode ser gerado via ACF e exportado para o PHP, como foi feito para a homepage no arquivo `inc/homepage-config.php`.

[2018-02-23 12:31] vgeorge commented on #40
Agora os menus estão aparecendo corretamente

[2018-02-23 12:34] vgeorge commented on #61
Falta tradução e o estilo está quebrado:

http://hmg.mapasculturais.medialab.ufg.br/tutorials/mauris-mattis-elit-ac-justo-commodo-pulvinar-quisque-porta-libero-massa-in-interdum-facilisis/

[2018-02-23 12:37] vgeorge commented on #59
Exemplo:

http://hmg.mapasculturais.medialab.ufg.br/2018/02/22/dolore-enim-quis-est-proident/

Widget não está funcionando e há problemas de formatação. No servidor de homologação anterior há um exemplo da página funcionando melhor:

http://portal-mapas.conexaobrasil.org/2017/05/09/class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-per-inceptos-himenaeos/

[2018-02-23 12:41] vgeorge commented on #58
Aqui está um exemplo com a formatação e estrutura esperada:

http://portal-mapas.conexaobrasil.org/2017/

O atual está assim:

http://hmg.mapasculturais.medialab.ufg.br/2018/

[2018-02-23 12:44] vgeorge commented on #30
Exemplo de link inválido para teste:

http://hmg.mapasculturais.medialab.ufg.br/aosidpoasidpoaisdpo

[2018-02-23 13:01] vgeorge commented on #60
Não está funcionando corretamente:

http://hmg.mapasculturais.medialab.ufg.br/tutorials/

[2018-02-23 13:12] vgeorge commented on #53
Referência: #27

Formatação está incorreta:
http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

[2018-02-23 13:15] vgeorge commented on #41
Qual era o problema de performance, @miguelpeixe?

[2018-02-23 13:26] vgeorge commented on #44
O botão do Github está funcionando corretamente, mas o "Participe da discussão" deve apontar à página interna do delibera e não a um link absoluto.

[2018-02-23 13:32] vgeorge commented on #51
http://hmg.mapasculturais.medialab.ufg.br/suporte/

Links estão funcionando, mas seção de tutoriais está com problemas de formatação. Sugiro consultar esta página para entender como as classes css estão sendo aplicadas:

http://portal-mapas.conexaobrasil.org/tutorials/

[2018-02-23 13:36] vgeorge commented on #55
Aqui está um exemplo da página com estrutura:

http://portal-mapas.conexaobrasil.org/comunidade/

A página atual não está exibindo o grafico do Github:

http://hmg.mapasculturais.medialab.ufg.br/comunidade/

Em que situação está a integração com o Delibera?

[2018-02-23 13:38] vgeorge commented on #56
O ambiente de homologação não está com o Delibera ativado para validação.

[2018-02-23 13:44] vgeorge commented on #54
Tomando como exemplo:

http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

- [x] As estatísticas não estão sendo exibidas;
- [x] Link para o twitter não está aparecendo;

[2018-02-23 13:46] vgeorge commented on #49
- [x] Os botões do zoom do mapa estão quebrados
- [x] O botão "ver perfil" está apontando para o link externo da instância, deveria apontar para o perfil da instância no portal.

[2018-02-23 13:48] vgeorge commented on #48
Os dados consolidados estão sendo exibidos corretamente:

http://hmg.mapasculturais.medialab.ufg.br/rede/

[2018-02-23 13:51] vgeorge commented on #52
A validar:

http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

[2018-02-23 13:53] vgeorge commented on #21
Widgets ainda aparecem em inglês:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=44&action=edit

[2018-02-24 01:43] cabelotaina commented on #45
Pessoal fiz um teste com ele modificando o arquivo de po e mo do portugues e nao funciona. Nao sei como modificar sem ser dessa forma. Alguma sugetao @miguelpeixe @vgeorge

[2018-02-24 01:46] cabelotaina commented on #51
Ola me parecem iguais as paginas, veja se o problema persiste com essa atualização se o problema ainda existir, por favor faz um print e cole aqui.

[2018-02-24 02:26] cabelotaina commented on #56
por favor vejam se é possivel instalar neste final de semana.

[2018-02-24 02:57] cabelotaina commented on #66
Isso acontece porque timeline não é um template, para acessar a timeline é necessário acessar o link:

http://hmg.mapasculturais.medialab.ufg.br/timeline/

Removi o cabeçalho que permite adicionar ela como um template para evitar esse tipo de confusão.

[2018-02-24 03:29] cabelotaina commented on #61
O estilo aparentemente esta ok, quanto a tradução foi feita, mas estamos com um problema de caracter encode no form de adicionar tutoriais:

![image](https://user-images.githubusercontent.com/1827173/36625187-b483d898-18f9-11e8-92ff-be11426290ea.png)

[2018-02-24 03:32] cabelotaina commented on #55
O grafico do github esta ok.

A integração do delibera:

Temos a página de single pauta, archive e estou terminando o add pauta via front (tenho um bug, não detecta qual o estagio da pauta assim que insere a pauta via front), e falta a página de author, esta não possui template. (ela não vai existir?)

[2018-02-24 11:17] vgeorge commented on #55
O gráfico do Github está ok na versão antiga, mas não está aparecendo na homologação atual:

<img width="888" alt="captura de tela 2018-02-24 as 11 16 09" src="https://user-images.githubusercontent.com/329694/36629862-6b67c434-1954-11e8-8916-3736ed74beb3.png">

[2018-02-24 11:25] vgeorge commented on #55
Não haverá template de página dedicada a autores do delibera, o @miguelpeixe pode confirmar.

[2018-02-24 11:35] vgeorge commented on #51
Exibição correta da lista de tutoriais:

<img width="653" alt="captura de tela 2018-02-24 as 11 27 44" src="https://user-images.githubusercontent.com/329694/36629962-f9da7788-1955-11e8-8611-4f0b6fbd097a.png">

Como está agora:

<img width="635" alt="captura de tela 2018-02-24 as 11 31 02" src="https://user-images.githubusercontent.com/329694/36629971-3db53132-1956-11e8-9c07-da788ed83929.png">

O q

[2018-02-24 12:42] vgeorge commented on #66
Legal. Removi a página que havia criado e alterei o slug para "linha-do-tempo":

http://hmg.mapasculturais.medialab.ufg.br/linha-do-tempo

[2018-02-24 12:57] vgeorge commented on #59
## Formatação correta:

<img width="693" alt="captura de tela 2018-02-24 as 12 51 05" src="https://user-images.githubusercontent.com/329694/36630624-6c575618-1961-11e8-8ac1-7d02074e283c.png">

## Formatação atual:

<img width="727" alt="captura de tela 2018-02-24 as 12 50 59" src="https://user-images.githubusercontent.com/329694/36630625-783e8474-1961-11e8-88de-77c3dcc65c1e.png">

## Correções nec

[2018-02-24 13:20] cabelotaina commented on #59
Nao esta repetindo apenas tinham o mesmo nome...

![image](https://user-images.githubusercontent.com/1827173/36630875-5e8fea00-194c-11e8-8a81-e045ab96fa25.png)

[2018-02-24 14:41] #39 closed, assigned to cabelotaina

[2018-02-24 14:48] vgeorge commented on #61
Subi as seguintes alterações:
- correção do encoding no form
- mudança do slug de "tutorials" para "tutoriais"
- tradução e geração correta dos labels de público-alvo, dificuldade e versão.

http://hmg.mapasculturais.medialab.ufg.br/tutoriais/mauris-mattis-elit-ac-justo-commodo-pulvinar-quisque-porta-libero-massa-in-interdum-facilisis/

Persistem os seguintes problemas:

- [x] não são geradas toda

[2018-02-24 14:58] vgeorge commented on #54
A resolver:

- [ ] Estilo da seta do dropdown deve seguir #36
- [x] Quando o dropdown é alterado a largura do gráfico não é reajustada e ele extrapola a página
- [x] O texto abaixo do gráfico está mostrando o valor total de usuários e não os dos últimos 30 dias

[2018-02-24 15:03] #65 closed, assigned to cabelotaina

[2018-02-24 15:06] vgeorge commented on #55
O gráfico está aparendo corretamente agora, provavelmente a versão antiga estava no cache.

[2018-02-24 15:13] vgeorge commented on #59
Corrigir no widget:

- [x] remover metadados que se referem a tutoriais (gestor, agente)
- [x] colocar newsletter

Ele deve ficar igual ao especificado aqui #14

[2018-02-24 15:33] vgeorge commented on #45
Segundo os docs a gente tem que usar esse plugin também:

https://wordpress.org/plugins/mc4wp-wpml/

Mas instalei e não acontece nada.

[2018-02-28 12:57] cabelotaina commented on #55
acredito que cobri tudo desta issue

[2018-02-28 13:22] vgeorge commented on #55
Ainda falta a integração com o Delibera, que não está ativo na homologação. Coloquei vcs em cópia com o sysadmin para resolver isso, @miguelpeixe e @cabelotaina

[2018-02-28 13:24] vgeorge commented on #58
Fiz a formatação dos posts e estou trabalhando no widget.

@miguelpeixe não consegui resolver o redimensionamento da imagem, pode ajudar?

[2018-02-28 14:18] cabelotaina commented on #60
Agora esta ok http://hmg.mapasculturais.medialab.ufg.br/tutoriais/

[2018-02-28 14:20] cabelotaina commented on #53
ola parece que esta ok isso:

http://portal-mapas.conexaobrasil.org/author/vgeorge/

http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

[2018-02-28 14:44] cabelotaina commented on #43
![image](https://user-images.githubusercontent.com/1827173/36793625-a26337d6-1c7c-11e8-9250-52bf3a057627.png)

Parece que esta ok isso

[2018-02-28 15:08] vgeorge opened #67 "Verificar instalação manual do ACF Pro sem API key"

[2018-02-28 15:10] miguelpeixe opened #68 "Inserir URL apropriada para download do Delibera"
https://github.com/institutotim/wp-theme-mapasculturais/blob/bd95c86a570a44b7a27cb4137cf64dfa80cef58a/functions.php#L62-L67

O delibera não está no repositório oficial do WP, por isso não será encontrado só com a slug, uma url deve ser inserida, por ex https://github.com/redelivre/delibera/archive/v2.0.1-beta.1.zip

[2018-02-28 15:17] miguelpeixe commented on #53
Me parece que deve ser utilizado excerpt e não content para listas. O date também só aparece para o primeiro resultado, o método de exibição da data deve ser alterado de `the_date()` para `echo get_the_date()` (ref: https://codex.wordpress.org/Function_Reference/the_date)

[2018-02-28 16:19] vgeorge commented on #58
Link para validação:

http://hmg.mapasculturais.medialab.ufg.br/noticias/

[2018-02-28 16:48] vgeorge commented on #53
Feito:

http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

[2018-02-28 17:19] cabelotaina commented on #50
cara essa foi, fiz do mesmo jeito:

http://localhost:8080/wp-admin/post.php?post=20&action=edit
http://hmg.mapasculturais.medialab.ufg.br/suporte/

[2018-02-28 17:35] vgeorge commented on #50
Não, entendi. O que foi feito?

[2018-02-28 17:36] thaisrigolon commented on #63
Quando pesquisamos uma palavra que não existe no portal, o texto que aparece é em inglês.

Em qual local podemos alterar esse texto?

![1](https://user-images.githubusercontent.com/18294515/36802789-9de4976e-1c94-11e8-98f8-d60316a0f117.png)

[2018-02-28 17:40] cabelotaina commented on #21
Nao entendi essa pode colocar um print...

seria isso

![image](https://user-images.githubusercontent.com/1827173/36803045-48fd4f24-1c95-11e8-967e-34c60552024f.png)

[2018-02-28 17:50] cabelotaina commented on #59
Esta ali a newsletter - http://hmg.mapasculturais.medialab.ufg.br/2018/02/22/dolore-enim-quis-est-proident/

[2018-02-28 18:08] thaisrigolon commented on #48
Como será a consulta dos números das plataformas para apresentação dos indicadores? Será atualizado com qual periodicidade?

[2018-02-28 18:29] #68 closed, assigned to cabelotaina

[2018-02-28 19:00] cabelotaina commented on #51
Acredito que esta ok

[2018-02-28 19:04] cabelotaina commented on #45
temos que instalar o wpml https://wpml.org/pt-br/ pois ele deve ser uma extenção dele. O wpml permite fazer tradução de plugins temas e sites em wp. A redelivre usa ele.

[2018-02-28 19:07] cabelotaina commented on #42
Nao entendi o que acontece nessa issue...

[2018-02-28 19:25] thaisrigolon commented on #66
- [x] Ao atualizar um item da linha do tempo e clicar em **publicar/atualizar** a seguinte mensagem aparece duas vezes. Ela é realmente necessária?
![1](https://user-images.githubusercontent.com/18294515/36808275-629e6efa-1ca3-11e8-816b-b97ec0c30573.png)

- [x] O link do menu para direcionar até a página da linha do tempo não está funcionando:
![2](https://user-images.githubusercontent.com/1829451

[2018-03-01 13:50] vgeorge commented on #21
O related versions ainda está em inglês. Para traduzir coloque a função __('string', 'pmc'), gere o novo .pot com `grunt pot` e traduza com o Poedit.

[2018-03-01 13:53] vgeorge commented on #60
Porque está aparecendo este input no widget?

<img width="335" alt="captura de tela 2018-03-01 as 13 52 19" src="https://user-images.githubusercontent.com/329694/36847983-cfd0e692-1d57-11e8-8c43-8873b9d263db.png">

[2018-03-01 13:54] vgeorge commented on #62
Consertei erros relacionados à integração com o backend, label de categoria e lista de versões na barra, mas o link para as taxonomias não estão funcionando.

[2018-03-01 13:57] vgeorge commented on #61
A homologação conta com quatro tutoriais, mas apenas um está aparecendo na lista:

http://hmg.mapasculturais.medialab.ufg.br/tutoriais/

[2018-03-01 13:59] vgeorge commented on #59
Tem um problema de formatação no input da newsletter, é preciso remover o color do `.newsletter-form input` no css.

[2018-03-01 14:03] vgeorge commented on #51
Complexidade segue aparecendo como um código e o link do botão está quebrado, deve apontar para `/tutoriais`.

O estilo e corpo do texto estão incorretos, eu posso ajudar depois.

[2018-03-01 14:04] #23 closed, assigned to vgeorge, cabelotaina

[2018-03-01 14:51] thaisrigolon opened #69 "Home"
- [x] O menu superior do protótipo aprovado não está batendo com o menu do ambiente de homologação. Os links são diferentes:
- Protótipo aprovado
![1](https://user-images.githubusercontent.com/18294515/36850344-43f64bba-1d45-11e8-8ce7-ffc7dc4b31c6.png)
- Ambiente de homologação
![2](https://user-images.githubusercontent.com/18294515/36850354-4921dd8e-1d45-11e8-80f9-00f9c37ba9f7.png)

- [x] Nos lin

[2018-03-01 15:00] thaisrigolon commented on #49
Ok, issue homologada.

[2018-03-01 15:07] thaisrigolon opened #70 "Mapa da Rede"
- [x] É possível adicionar um contorno branco, por exemplo, nos pins do mapa? No ambiente de homologação tínhamos a visão de apenas 1 pin e agora, com pins próximos acaba gerando uma visualização confusa. Talvez o contorno facilitaria a exibição.
![1](https://user-images.githubusercontent.com/18294515/36851306-b485a2de-1d47-11e8-9211-42da1c1a9571.png)

- [ ] Na coluna "conheça as iniciativas" é po

[2018-03-01 15:14] thaisrigolon opened #71 "Parceiros"
- [x] Deixar o link do Instituto TIM em branco, como estava no protótipo aprovado:
![1](https://user-images.githubusercontent.com/18294515/36852117-bc9ca380-1d49-11e8-9402-0496ce428507.png)
No ambiente de homologação está em azul:
![1](https://user-images.githubusercontent.com/18294515/36852232-f28afc08-1d49-11e8-944c-35d489597087.png)

- [x] Os links que estão em cada logo precisam abrir numa nov

[2018-03-01 15:14] thaisrigolon commented on #46
Ok, issue homolgada.

[2018-03-01 17:40] HeloMubarack commented on #71
Ainda em "parceiros", em logos:

_Ao clicar no logo da Prefeitura de Sobral, somos direcionados para esse link com erro:

![image](https://user-images.githubusercontent.com/27974406/36859626-bb4215ec-1d5d-11e8-98b9-03215eb1b9c3.png)

Link correto para usarmos: (http://secjel.sobral.ce.gov.br/)

_O logo do Governo da Paraíba está cortado na parte de cima:

![image](https://user-images.githubusercon

[2018-03-06 02:18] cabelotaina commented on #44
feito

[2018-03-06 17:45] #49 closed, assigned to thaisrigolon

[2018-03-06 17:48] vgeorge commented on #48
É feita uma rotina que busca todo histórico de agentes, eventos, espaços e projetos para cada instalação cadastrada no portal. No momento ela sendo executada a cada 15 minutos, mas são muitos requests nas API e me parece melhor atualizar os dados uma vez por dia.

[2018-03-06 17:48] #46 closed, assigned to thaisrigolon

[2018-03-06 18:01] HeloMubarack commented on #48
Como nós fazemos para cadastrar uma instalação? Poderia dar um exemplo? Assim podemos cadastrar um e fazer testes para ver se a atualização de uma vez por dia estará funcionando.

[2018-03-06 18:13] cabelotaina commented on #63
Em languages/pt_BR.po, já realizei a alteração.

[2018-03-06 18:18] thaisrigolon commented on #63
Ok, issue homologada.

[2018-03-06 18:18] #63 closed, assigned to vgeorge, cabelotaina, thaisrigolon

[2018-03-06 19:12] vgeorge commented on #48
Existem 13 instâncias cadastradas na homologação, vocês podem ver neste link:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/users.php?role=instance

As instalações são cadastradas pela adição de um usuário com a função "Instância", como neste exemplo do jpcultura:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/user-edit.php?user_id=5

Para que as estatísticas possam ser obtidas é precis

[2018-03-06 19:18] HeloMubarack opened #72 "Erro ao tentar navegar no Wordpress"
A página exibe esse erro tanto para mim quanto para Thaís, sendo que já estávamos logadas normalmente antes.

![image](https://user-images.githubusercontent.com/27974406/37053056-e57b6674-2159-11e8-84cd-b79d1ecb3857.png)

[2018-03-06 22:14] vgeorge commented on #72
Oi Heloísa, fiz um teste aqui e parece ok. Resetei sua senha para ter acesso com seu usuário e funcionou também. Pode tentar novamente, por favor?

[2018-03-07 12:28] vgeorge opened #73 "Paginação de instâncias no mapa da rede"
Quando há mais de uma dezena de instâncias cadastradas na plataforma a página do mapa fica muito longa e há assimetria com a coluna blog da rede. Não é necessária paginação da coluna do blog da rede, pois ele tem uma página própria, mas é necessária paginação das instâncias.

Como ainda não havíamos considerado esta funcionalidade, será preciso desenhar os botões que farão a paginação.

[2018-03-07 12:34] HeloMubarack commented on #72
Oi, Vitor. Agora está funcionando normalmente para nós duas. Obrigada.

[2018-03-07 12:34] #72 closed, assigned to vgeorge, HeloMubarack

[2018-03-07 12:35] vgeorge opened #74 "Thumbnails da página da rede"
Questões:

- [x] Coluna "blog da rede" só mostra 1 thumbnail e distorcido
- [x] Coluna "conheça as iniciativas" tem imagem distorcida se o usuário não tem um thumb

Link para a página de validação:

http://hmg.mapasculturais.medialab.ufg.br/rede

[2018-03-07 12:43] HeloMubarack opened #75 "Pautas"
As "Pautas" estão relacionadas ao plugin Delibera?

![image](https://user-images.githubusercontent.com/27974406/37092776-d7b1f228-21eb-11e8-9357-0a139268e994.png)

![image](https://user-images.githubusercontent.com/27974406/37092759-c6845a9a-21eb-11e8-8705-bf4615036b9d.png)

[2018-03-07 12:44] vgeorge opened #76 "Limites estaduais no mapa"
Nesta [issue](https://github.com/institutotim/wp-theme-mapasculturais/issues/70) foi comentado que o mapa fica muito "vazio" com o zoom inicial, mas não temos como incluir os limites estaduais no mapa sem fazer alterações consideráveis na plataforma. Uma possível solução seria o mapa dar zoom nos limites dos pontos (fit to bounds), o deve fazer com que caia quase sempre no zoom menor.

O que acha

[2018-03-07 12:46] HeloMubarack opened #77 "Dúvida sobre imagem da home de notícias"
Quais são as dimensões da imagem de destaque da home de notícias?

![image](https://user-images.githubusercontent.com/27974406/37092938-5dcc583a-21ec-11e8-9422-dacbe1da5a78.png)

[2018-03-07 12:47] vgeorge commented on #70
Foram feitas as alterações nos items ticados. Comentários:

- Sobre a "Conheça as iniciativas", será necessário desenhar e desenvolver paginação para esta coluna, pois ela não tem página própria. Foi criada uma issue específica: https://github.com/institutotim/wp-theme-mapasculturais/issues/73

- Foi alterado do estilo da coluna "blog da rede", mas há um problema nos thumbnails. Issue sobre isso:

[2018-03-07 12:51] HeloMubarack opened #78 "Texto de resumo das notícias"
Oi, Vitor.

Há como o resumo ser manual? Ele está puxando automaticamente os primeiros 375 caracteres do texto. Seria melhor se nós pudéssemos editar o conteúdo que aparecerá nessa parte.

![image](https://user-images.githubusercontent.com/27974406/37093119-00b1a744-21ed-11e8-9e55-6446a27faee3.png)

[2018-03-07 12:53] #41 closed, assigned to miguelpeixe

[2018-03-07 12:53] HeloMubarack commented on #78
Vitor, pode desconsiderar essa issue, já descobrimos como fazer isso.

[2018-03-07 12:53] #78 closed, assigned to nobody

[2018-03-07 12:57] #70 closed, assigned to vgeorge, cabelotaina, thaisrigolon

[2018-03-07 13:06] thaisrigolon opened #79 "Como alteramos o texto da parte rosa de uma página?"
Conseguimos inserir o conteúdo da página normalmente, mas na parte rosa como fazemos?

Link: http://hmg.mapasculturais.medialab.ufg.br/o-que-e/

![1](https://user-images.githubusercontent.com/18294515/37093725-22e407c4-21ef-11e8-9634-a1d1d493f5ea.png)

[2018-03-07 13:06] vgeorge commented on #56
O Delibera está disponível na homologação.

[2018-03-07 13:09] thaisrigolon commented on #43
Ok, issue homologada.

[2018-03-07 13:09] #43 closed, assigned to thaisrigolon

[2018-03-07 13:11] thaisrigolon commented on #52
Está ok. A única alteração necessária é abrir outra aba quando o usuário clicar no botão "acesse a plataforma":

![1](https://user-images.githubusercontent.com/18294515/37093945-eea9936a-21ef-11e8-8f2d-a875bc8a68f3.png)

[2018-03-07 13:19] vgeorge commented on #60
A linha que está gerando o input é essa https://github.com/institutotim/wp-theme-mapasculturais/blob/to-validate/inc/tutorials/widget.php#L73.

Questões ainda pendentes:

- [x] remover input
- [x] remover lista de categorias gerais, apenas as de tutoriais devem aparecer

[2018-03-07 13:23] vgeorge commented on #50
Legal, vi que agora a configuração está na página do template de suporte. Mas ainda falta fazer o i18n desta desta página (`inc/support-config.php`), pois estão aparecendo textos em inglês.

Link direto: http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=20&action=edit

[2018-03-07 13:26] vgeorge commented on #62
Parece ok agora.

[2018-03-07 13:30] HeloMubarack opened #80 "Tags das notícias"
As tags adicionadas a uma notícia (Ex. "Oficina para discutir próximos passos de Mapas Culturais") não estão aparecendo. Como podemos torná-las visíveis na publicação?

[2018-03-07 13:34] vgeorge commented on #21
@miguelpeixe, o "Related Versions" foi traduzido, mas continua aparecendo em inglês, sabe o porquê?

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=44&action=edit

[2018-03-07 13:42] vgeorge commented on #45
Este WPML é fechado, não é? Será possível que a mensagem seja traduzida de outra maneira, talvez por um callback do Mailchimp?

[2018-03-07 13:45] vgeorge commented on #42
Há um bloqueio na execução do Javascript do ACF, já informei ao @walisonjose:

<img width="820" alt="captura de tela 2018-03-07 as 13 44 13" src="https://user-images.githubusercontent.com/329694/37095431-d0d6bc64-220d-11e8-9f0d-15bb41e13302.png">

[2018-03-07 13:48] HeloMubarack opened #81 "Categorias - como posicioná-las"
Como nós escolhemos as categorias que aparecem de destaque no header de notícias e na lateral das páginas internas de notícias? Ou ele puxa todas as que a gente tiver, automaticamente?

[2018-03-07 13:50] vgeorge commented on #44
Onde é possível configurar estes links? @cabelotaina

[2018-03-07 13:53] vgeorge opened #82 "Thumbnails da página inicial"
Só estão aparecendo para o primeiro post do blog da rede.

[2018-03-07 13:58] vgeorge opened #83 "Título da página inicial"
A Thaís comentou (https://github.com/institutotim/wp-theme-mapasculturais/issues/69) que seria bom aumentar o título "Portal Mapas Culturais" na página inicial, mas agora ele quebrou linha.

[2018-03-07 13:59] vgeorge commented on #69
Thaís, fizemos modificações e abrimos issues específicas para os problemas:

- Thumbnails não são exibidos: https://github.com/institutotim/wp-theme-mapasculturais/issues/82
- Título da página inicial: https://github.com/institutotim/wp-theme-mapasculturais/issues/83

Se não estiver faltando nada, sugiro o encerramento.

[2018-03-07 14:05] vgeorge commented on #71
Thaís, foram feitas as alterações. A última linha ficou apertada e pensei em dividi-la em duas. Está de acordo? Quais logos ficariam na última linha?

[2018-03-07 14:15] thaisrigolon opened #84 "Links na home"
Ao clicar em "suporte", "saiba mais" e "conheça as instalações" não estão abrindo os links. Eles precisam abrir em outra aba.

![1](https://user-images.githubusercontent.com/18294515/37096826-a268a410-21f8-11e8-8e17-4750c027f371.png)

Os links do "github" e "participe da discussão" também não estão abrindo. Precisam abrir em outra aba.

![1](https://user-images.githubusercontent.com/18294515/37096

[2018-03-07 14:20] thaisrigolon commented on #48
Ok, issue homologada.

[2018-03-07 14:20] #48 closed, assigned to thaisrigolon

[2018-03-07 14:27] #69 closed, assigned to vgeorge, cabelotaina, thaisrigolon

[2018-03-07 14:50] thaisrigolon opened #85 "Permissões do usuário "Instância""
- [x] Retirar a permissão de inserir informação na linha do tempo para usuário da instância

- [x] Nos posts da Rede o usuário deve ter permissão de editar e adicionar posts somente na sua instância e não nas demais
![1](https://user-images.githubusercontent.com/18294515/37098769-7856b608-21fd-11e8-9403-ba56968fc469.png)

- [x] É possível adicionar a foto diretamente no painel do wordpress ou prec

[2018-03-08 15:23] cabelotaina commented on #50
estou subindo o material com os campos definidos para tradução e logo vou subir a nova tradução tb. Favor colocar para revisão.

[2018-03-08 15:31] cabelotaina commented on #50
pronto resolvida essa issue

[2018-03-08 15:34] cabelotaina commented on #75
sim

[2018-03-08 15:40] cabelotaina commented on #84
Oi @thaisrigolon

vc precisa entrar neste painel e colocar os links para as pagina internas:

![image](https://user-images.githubusercontent.com/1827173/37159919-c60dd360-22cd-11e8-9372-b662689b9686.png)

Para entrar ai vc pode ir ate a pagina da home e clicar no topo em editar:

![image](https://user-images.githubusercontent.com/1827173/37159967-e68806ec-22cd-11e8-83cf-6f6205bd8635.png)

Se quise

[2018-03-08 15:51] cabelotaina commented on #84
Outra coisa importante é alguns links são automaticos como o caso do participe da discução, já lo link do github deve ser adicionado em:

![image](https://user-images.githubusercontent.com/1827173/37160626-6ace33ee-22cf-11e8-9910-a1d84709204c.png)

![image](https://user-images.githubusercontent.com/1827173/37160646-73c31b0e-22cf-11e8-9c1a-5a67127767ff.png)

![image](https://user-images.githubuserc

[2018-03-08 15:55] cabelotaina commented on #84
No entanto constatei  que existe um bug aqui, pois ele não esta com o mesmo comportamento local.

[2018-03-08 15:57] thaisrigolon commented on #84
Não estou conseguindo adicionar os links de suporte e saiba mais no painel
![1](https://user-images.githubusercontent.com/18294515/37160956-2c20d1b4-22d0-11e8-82dd-d21a6e24379d.png)

Além disso, qual é o local pra adicionar o link "conheça as instalações"?

[2018-03-08 18:31] cabelotaina commented on #85
@thaisrigolon faz um teste para ver se as permissões estão ok, eu cheguei a fazer algo e comitei para vocês em hml

[2018-03-08 18:31] cabelotaina commented on #85
Precisa estar associado ao site gravatar.

[2018-03-08 19:31] cabelotaina commented on #84
@thaisrigolon para falar a verdade eu dei uma olhada nessa home e acho que o correto seria rever o que foi feito e achar alguma alternativa para esses links. Vou tentar revisar ela hoje pela noite e te envio por aqui um salve explicando o que foi feito.

[2018-03-08 20:34] thaisrigolon commented on #85
- [ ] O usuário da instância ainda pode adicionar um evento na linha do tempo. É possível retirar esse botão da lateral?

![1](https://user-images.githubusercontent.com/18294515/37174848-863e1208-22f6-11e8-8148-d4015ff6a3af.png)

![2](https://user-images.githubusercontent.com/18294515/37174854-8a1dff00-22f6-11e8-915e-8fdcb3915e36.png)

- [ ] É possível não mostrar os outros post, somente os posts

[2018-03-09 02:54] cabelotaina commented on #82
Eu segui o que esta no padrão http://portal-mapas.conexaobrasil.org/

[2018-03-09 02:55] cabelotaina commented on #81
Ele puxa todas as categorias que vc tiver automaticamente.

[2018-03-09 02:55] cabelotaina commented on #81
Se for apenas isso sugiro fechar a issue @vgeorge

[2018-03-09 03:00] cabelotaina commented on #80
No processo de desenvolvimento do tema as tags não foram mencionadas por isso elas não apresentadas. Atualmente apenas as categorias que nos apresentamos.

[2018-03-09 03:01] cabelotaina commented on #80
@vgeorge veja se podemos fechar essa issue.

[2018-03-09 03:10] cabelotaina commented on #79
Pelo que vi ele é um texto gerado automaticamente, a principio não seria possivel alterar, mas não foi implementada ainda, obrigado por sinalizar que ele não foi implementado acabei de colocar isso para funcionar da maneira esperada como um excerto.

@vgeorge se essa for a funcionalidade correta por favor feche a issue ou coloque para validação.

[2018-03-09 03:12] cabelotaina commented on #77
836x327px @vgeorge se for apenas isso favor fechar a issue ou colocar para to-validate.

[2018-03-09 03:14] cabelotaina commented on #75
@vgeorge acredito que essa issue pode ser fechada

[2018-03-09 11:11] #75 closed, assigned to vgeorge

[2018-03-09 11:17] vgeorge commented on #79
Parece que há um problema na integração do código via Travis CI e as mudanças não estão se refletindo na homologação, vamos aguardar o @walisonjose avaliar.

[2018-03-09 11:28] vgeorge commented on #80
@cabelotaina Dá uma olhada na issue https://github.com/institutotim/wp-theme-mapasculturais/issues/14, ela tem o que foi aprovado para a página de notícias. As tags devem aparecer no cabeçalho. Como não dá para se colocar muitas tags, sugiro exibir no máximo 5.

[2018-03-09 11:51] vgeorge commented on #81
@HeloMubarack e @thaisrigolon,

A versão inicial da lista de notícias não contava com categorias no topo https://github.com/institutotim/wp-theme-mapasculturais/issues/14. Não lembro exatamente por que as colocamos depois, mas sugiro a retirada, pois elas estão acessíveis no widget lateral. Não há maneira de marcar categorias como destacadas ou ordená-las sem ser por ordem alfabética, e assim fica

[2018-03-09 11:53] vgeorge commented on #82
Os thumbnails só estão aparecendo no primeiro item da lista:

<img width="557" alt="captura de tela 2018-03-09 as 11 53 20" src="https://user-images.githubusercontent.com/329694/37206423-7e37fc96-2390-11e8-9e5f-543e7f1090e0.png">

[2018-03-09 12:00] vgeorge commented on #84
@thaisrigolon,

Existe um problema que no servidor que impede a correta execução do plugin e não aparecem as opções de seleção de página. Já relatei ao @walisonjose, temos que esperar a avaliação dele.

<img width="672" alt="captura de tela 2018-03-09 as 11 58 35" src="https://user-images.githubusercontent.com/329694/37206636-64607676-2391-11e8-934e-c6436acd6624.png">

[2018-03-09 12:17] vgeorge commented on #60
Issue pronta para validação, depende de que integração com homologação volte a funcionar.

[2018-03-09 12:19] thaisrigolon commented on #84
Ok, estamos no aguardo para validação.

[2018-03-09 12:20] thaisrigolon commented on #81
Ok, pode retirar e mantemos apenas no widget lateral.

[2018-03-13 11:48] vgeorge commented on #60
A issue não está resolvida. O input voltou, devido a reversão do commit e37e8e6589bb290c07ea33c99988516e416be865, que fez com que o site parasse de funcionar sem exibir nada no log. Imagino que no local não aparece o erro porque não foi configurado um widget. Tem que ver a api desse componente WP_Widget para entender qual o problema. cc @cabelotaina

[2018-03-13 11:50] vgeorge commented on #81
Ok, para que esta issue esteja resolvida é preciso remover os botões de categorias no cabeçalho desta página:

http://hmg.mapasculturais.medialab.ufg.br/noticias/

[2018-03-13 12:02] vgeorge commented on #56
Link para página de criação de pauta:

http://hmg.mapasculturais.medialab.ufg.br/adicionar-pauta/

[2018-03-13 12:27] vgeorge commented on #79
O servidor voltou. Agora a página mostra um excerto automático e não há como editá-lo no painel administrativo.

[2018-03-13 12:35] vgeorge commented on #74
O problema persiste. @cabelotaina @miguelpeixe

[2018-03-13 12:36] vgeorge commented on #73
Como avançamos nesta issue, @miguelpeixe?

[2018-03-13 12:41] vgeorge commented on #44
Funcionalidade continua com problema. cc @cabelotaina

[2018-03-13 12:43] vgeorge commented on #42
@thaisrigolon a issue está pronta para validação, mas depende de que seja resolvido um problema no servidor de homologação.

[2018-03-13 12:50] vgeorge commented on #61
Ainda há 2 problemas de front-end:

- [ ] o seletor no cabeçalho está sem formatação
- [ ] o box onde aparece a complexidade quebra a linha para as complexidades "média" e "avançada"

[2018-03-13 13:00] vgeorge commented on #54
Falta resolver o estilo da seta. cc @miguelpeixe

[2018-03-13 13:07] vgeorge commented on #52
Foi feita a modificação do botão.

[2018-03-13 13:09] thaisrigolon commented on #52
Ok, issue homologada.

[2018-03-13 13:09] #52 closed, assigned to vgeorge, cabelotaina, thaisrigolon

[2018-03-13 13:10] thaisrigolon commented on #42
Ok, aguardamos a resolução do problema para testar.

[2018-03-13 13:26] thaisrigolon opened #86 "Área de contato _ Página da secretaria"
No painel de edição dos dados da secretaria há um campo para adicionar o e-mail dos membros da equipe, mas esse e-mail não aparece na página da secretaria...

![1](https://user-images.githubusercontent.com/18294515/37344349-ed22f028-26a8-11e8-9cfc-fc1768f4a91d.png)

![1](https://user-images.githubusercontent.com/18294515/37344378-f8128052-26a8-11e8-9007-4172ed13a86f.png)

É possível exibir o e-mai

[2018-03-13 13:41] thaisrigolon commented on #50
- [x] Como adicionamos o link dos tutoriais? Não tem esse campo no painel...
![1](https://user-images.githubusercontent.com/18294515/37344908-7319b436-26aa-11e8-9237-e8d003ebfe64.png)

- [x] Os links precisam abrir numa nova aba
![1](https://user-images.githubusercontent.com/18294515/37344985-a1f4b17a-26aa-11e8-9866-90afb606a4e5.png)
![2](https://user-images.githubusercontent.com/18294515/37344987

[2018-03-13 13:48] thaisrigolon commented on #55
@vgeorge a integração já está disponível para testes?

**- Dúvida**
As estatísticas do repositório do github estão atualizadas? Não parece que está batendo com os números do github: https://github.com/hacklabr/mapasculturais

![1](https://user-images.githubusercontent.com/18294515/37345504-eb630c8e-26ab-11e8-9a02-06e8d6d99e92.png)

![1](https://user-images.githubusercontent.com/18294515/37345529-f

[2018-03-13 13:56] #77 closed, assigned to HeloMubarack

[2018-03-13 14:01] thaisrigolon commented on #71
Sim, pode dividir a última linha em duas. Deixando na penúltima 5 logos e na última 4 logos.
Pode seguir a mesma ordem que está agora...

[2018-03-13 14:04] thaisrigolon commented on #30
- [ ] Alterar texto para:

_Página não encontrada
Volte à página inicial ou faça uma _nova_ busca._

![1](https://user-images.githubusercontent.com/18294515/37346497-38b64bf2-26ae-11e8-824e-4e08a1eca109.png)

- [ ] Quando clicamos no link "página inicial" não funciona, ou seja, o usuário não é direcionado para a home.

[2018-03-13 14:07] thaisrigolon commented on #40
Ok, issue homologada.

[2018-03-13 14:07] #40 closed, assigned to intrepidocabral, thaisrigolon

[2018-03-13 14:09] thaisrigolon commented on #29
Ok, issue homologada.

[2018-03-13 14:09] #29 closed, assigned to intrepidocabral, thaisrigolon

[2018-03-13 14:09] vgeorge commented on #86
Se o e-mail for longo haverá quebra de linha, então coloquei um link para o endereço no nome da pessoa.

[2018-03-13 14:10] thaisrigolon commented on #22
Ok, issue homologada.

[2018-03-13 14:10] #22 closed, assigned to intrepidocabral, thaisrigolon

[2018-03-13 14:11] thaisrigolon commented on #86
Ok.

[2018-03-13 14:11] #86 closed, assigned to nobody

[2018-03-13 14:13] thaisrigolon commented on #53
Ok, issue homologada.

[2018-03-13 14:13] #53 closed, assigned to thaisrigolon

[2018-03-13 14:14] vgeorge commented on #55
Por favor, revisar a integração, @cabelotaina.

[2018-03-13 14:18] thaisrigolon opened #87 "Mapa do Site"
Como alteramos e configuramos os links disponíveis no rodapé que formam o mapa do site?

![1](https://user-images.githubusercontent.com/18294515/37347304-444dbac0-26b0-11e8-9431-d3ec955a71e0.png)

[2018-03-13 14:24] thaisrigolon commented on #58
Adicionei um novo post e criei algumas categorias. Não selecionei as categorias 1, 2, e 3 e elas aparecem mesmo assim. Como removê-las?

![1](https://user-images.githubusercontent.com/18294515/37347610-fb0f9d96-26b0-11e8-8261-7404d0ecbe74.png)

![1](https://user-images.githubusercontent.com/18294515/37347676-256d0a4c-26b1-11e8-9c25-a342479bcccf.png)

Post: http://hmg.mapasculturais.medialab.ufg.br

[2018-03-13 14:30] thaisrigolon commented on #59
- [ ] Remover as categorias selecionadas abaixo, pois elas estão fixas.
![1](https://user-images.githubusercontent.com/18294515/37348051-f101fe56-26b1-11e8-9a08-56c5240efff9.png)

[2018-03-13 14:39] vgeorge commented on #30
Feito.

[2018-03-13 14:42] thaisrigolon commented on #30
Ok, issue homologada.

[2018-03-13 14:42] #30 closed, assigned to intrepidocabral, thaisrigolon

[2018-03-13 17:32] vgeorge commented on #58
Parece que o widget está exibindo todas categorias ao invés das selecionadas. @cabelotaina

[2018-03-13 17:35] vgeorge commented on #87
A configuração fica no menu "Aparência/Menus", acessível diretamente aqui:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/nav-menus.php

Nesta página pode ser editado o cabeçalho e o rodapé.

[2018-03-13 17:56] thaisrigolon commented on #87
Obrigada.

[2018-03-13 17:56] #87 closed, assigned to thaisrigolon

[2018-03-15 13:20] thaisrigolon commented on #79
Conseguimos avançar na resolução dessa issue?

[2018-03-15 23:42] cabelotaina commented on #80
Pelo que entendi da issue #81 era apenas retirar as categorias do topo da pagina, é isso, se for já retirei, se não eu coloco elas de volta com o limite de apenas 5 categorias.

[2018-03-15 23:43] cabelotaina commented on #79
@thais vc gostaria de pode colocar esse conteudo por separado ou pode ser como esta atualmente. Atualmente ele é um pedaço do conteudo publicado.

[2018-03-15 23:47] cabelotaina commented on #85
Ola @vgeorge eu fiz algumas modificações faz um tempo mas para a @thaisrigolon conseguir vizualizar tem que dar um reset no papel instance:

![image](https://user-images.githubusercontent.com/1827173/37496586-1c2dbd90-2892-11e8-9886-787d987c8580.png)

Consegue ver isso?

[2018-03-15 23:51] cabelotaina commented on #76
@miguelpeixe veja o que o @vgeorge comentou, de acordo com sua resposta faço a modificação.

[2018-03-15 23:52] cabelotaina commented on #74
Pelo que entendi era apenas 1 thumb na coluna blog da rede. Esta issue esta fechada mesmo @vgeorge posso desconsiderar ou não?

[2018-03-16 12:53] thaisrigolon commented on #79
@cabelotaina, gostaríamos de colocar em separado.

[2018-03-16 13:17] thaisrigolon commented on #42
@walisonjose, algum avanço sobre o erro apontado no servidor?

[2018-03-16 13:42] cabelotaina commented on #73
Galera ontem eu tentei iniciar alguma solução em cima disso, mas tive problemas com rebase e acho que vou pegar o projeto que esta online e reiniciar o que estou fazendo a partir dele. Pois esta dando varias quebras.

[2018-03-16 14:44] thaisrigolon opened #88 "Melhorias e Dúvidas _ Home"
- [x] Deixar o sublinhado até o ponto final. Está passando um pouco:
![1](https://user-images.githubusercontent.com/18294515/37526430-190b0e48-290e-11e8-93db-a21cac203a0c.png)

- [x] No rodapé, padronizar o espaço das colunas. A coluna "Sobre a iniciativa" está muito pro lado.
![1](https://user-images.githubusercontent.com/18294515/37526868-4906514c-290f-11e8-8e2a-7405dd65ebcd.png)

**Dúvidas**

*

[2018-03-16 14:50] thaisrigolon commented on #71
- [x] Conforme comentário anterior, pode dividir a última linha em duas. Deixando na penúltima 5 logos e na última 4 logos.

- [x] Diminuir a margem de altura inferior e deixar o espaçamento superior e inferior no mesmo tamanho:
![1](https://user-images.githubusercontent.com/18294515/37527194-37268568-2910-11e8-8482-aafa33f44bda.png)

[2018-03-16 14:56] thaisrigolon opened #89 "Melhorias e Dúvida _ Mapa da Rede"
- [x] Deixar o botão de + e - do zoom na cor preta.
![1](https://user-images.githubusercontent.com/18294515/37527330-913244c0-2910-11e8-8e9c-7073afa97481.png)

- [x] As sombras estão deslocadas no texto. Deixar cobrindo todo o texto.
![1](https://user-images.githubusercontent.com/18294515/37527514-f57e3c7c-2910-11e8-8f33-91d472620672.png)

- Dúvida:
É possível mudar os ícones da página do Mapa da

[2018-03-16 15:01] thaisrigolon commented on #79
- [ ] É possível diminuir a margem de altura da parte rosa?
![screenshot_1](https://user-images.githubusercontent.com/18294515/37527783-9bb99c62-2911-11e8-93b2-5343e6ee4c8a.png)

- [ ] Diminuir o tamanho da letra para o mesmo padrão do texto também:
![1](https://user-images.githubusercontent.com/18294515/37527809-adfd4626-2911-11e8-9c9a-47d4cfab00d8.png)

[2018-03-16 15:02] thaisrigolon commented on #55
- [x] Também corrigir o deslocamento de sombras do texto:
![1](https://user-images.githubusercontent.com/18294515/37527896-e7d21cd2-2911-11e8-9eea-590472ed6453.png)

[2018-03-16 16:36] thaisrigolon opened #90 "Melhorias _ Home Notícias"
- [ ] As páginas **Notícias** e **Blog da Rede** estão puxando os mesmos posts. Precisa separar notícias / blog da rede

- [ ] Nós conseguimos escolher o número de posts que aparecem na primeira página de Notícias?

- [ ] Alterar texto dos botões para: Anterior e Próxima
![1](https://user-images.githubusercontent.com/18294515/37532823-e7db2d6a-291e-11e8-9501-316e1cf207dd.png)

- [ ] É possível adi

[2018-03-16 19:38] intrepidocabral opened #91 "Qual branch usar para fazer testes de deploy do tema?"
### Cenário 1
1. Fiz uma instalação zerada de wp;
2. Instalei e habilitei o tema no branch `to-validate`;
3. Instalei os plugins requeridos;
4. Recebi essa home:
![selecao_085](https://user-images.githubusercontent.com/641411/37540956-a82e5930-2937-11e8-9f19-4fdf2553d9ac.png)
aferição de branch:
![selecao_086](https://user-images.githubusercontent.com/641411/37541157-47f0eb72-2938-11e8-9a9c-441780

[2018-03-16 20:11] intrepidocabral opened #92 "Qual é a função 'instância'? onde está?"
Ao tentar adicionar um link de instalação, deparei-me com isso:

![selecao_090](https://user-images.githubusercontent.com/641411/37542381-c27d9e22-293c-11e8-9964-e999f6f3c048.png)

O que quer dizer com função "instância"? É um content type? Onde isso é visto? Não achei aqui (vendo a branch `to-validate`):
![captura de tela de 2018-03-16 17-10-08](https://user-images.githubusercontent.com/641411/37

[2018-03-20 20:15] vgeorge commented on #81
@cabelotaina as categorias continuam aparecendo no topo:

http://hmg.mapasculturais.medialab.ufg.br/noticias/

[2018-03-20 20:18] vgeorge commented on #80
@cabelotaina A Heloísa se referiu a tags, não a categorias. Como comentei anteriormente, as tags estão previstas, de acordo com o que já estava no código e específicado na issue #14. Ao invés de criar link para tag, está sendo criado link para categorias:

http://hmg.mapasculturais.medialab.ufg.br/2018/03/13/gestores-e-desenvolvedores-de-mapas-se-reunem/

[2018-03-20 20:30] vgeorge commented on #85
@thaisrigolon O Maurílio mudou a autorização para edição de linha do tempo. Sobre a lista de posts da instância, o comportamento é exibir somente os posts próprios, se houver algum, ou exibir todos. Coloquei um post para instância de BH, fica assim:

<img width="1040" alt="captura de tela 2018-03-20 as 20 27 42" src="https://user-images.githubusercontent.com/329694/37681038-72c34172-2c7d-11e8-883f

[2018-03-20 20:32] vgeorge commented on #74
É preciso corrigir os thumbs, @miguelpeixe e @cabelotaina

[2018-03-20 20:36] thaisrigolon commented on #85
Ok, issue homologada.

[2018-03-20 20:36] #85 closed, assigned to thaisrigolon

[2018-03-20 21:53] vgeorge commented on #88
@thaisrigolon, sobre as questões:

1. O ícones estão nesta imagem svg, vocês podem substituir direto ou me enviar nova versão: https://github.com/institutotim/wp-theme-mapasculturais/blob/to-validate/img/mc.svg
2. Já está em 3 posts;
3. Esta alteração não é muito simples e a seção estava aprovada, infelizmente não vamos conseguir alterar;
4. Está fixo em 1 com thumb e 2 sem thumb.

Marquei o @migu

[2018-03-20 22:23] vgeorge commented on #79
@thaisrigolon Alterei o estilo e agora vc pode editar o texto no resumo (excerto) da página.

[2018-03-20 22:30] vgeorge opened #93 "Sombras muito deslocadas na página da comunidade"
http://hmg.mapasculturais.medialab.ufg.br/comunidade/

![image](https://user-images.githubusercontent.com/329694/37686183-36845366-2c8e-11e8-9300-f9986f4af21e.png)

[2018-03-20 22:30] vgeorge commented on #55
@thaisrigolon abri uma issue em separado para as sombras: https://github.com/institutotim/wp-theme-mapasculturais/issues/93

@cabelotaina a integração já foi revisada?

[2018-03-20 22:46] vgeorge opened #94 "Erro ao listar posts da rede"
Ao invés de trazer posts da rede (`network_posts`), a página está trazendo notícias:

http://hmg.mapasculturais.medialab.ufg.br/blog-da-rede

[2018-03-20 23:06] vgeorge commented on #90
@thaisrigolon foi criada uma issue em separada para o bug das listas https://github.com/institutotim/wp-theme-mapasculturais/issues/94

Sobre as outras questões:

2. Está como no padrão do wordpress, 5;
3. Feito;
4. Não, não havíamos considerado assim no design.

[2018-03-20 23:15] vgeorge commented on #91
Felipe, o branch é esse mesmo. Não falta muita coisa para terminar, você pode ir testando sim. É preciso criar os menus para que apareçam corretamente, como nesta página:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/nav-menus.php

Para que as páginas apareçam corretamente, é preciso que você crie páginas em branco que sigam os templates abaixo, sendo possível selecionar no dropdown do box d

[2018-03-20 23:17] vgeorge commented on #92
É um tipo de usuário:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/users.php?role=instance

[2018-03-21 00:02] cabelotaina commented on #94
corrigido

[2018-03-21 00:14] cabelotaina commented on #93
Corrigido

[2018-03-21 00:19] cabelotaina commented on #89
corrigido, @vgeorge responda a duvida

[2018-03-21 00:29] cabelotaina commented on #88
Não tenho a menor ideia de como resolver essa issue... "Deixar o sublinhado até o ponto final. Está passando um pouco", cheguei a tentar ver se isso era algo que podemos alterar, mas pelo que entendi parecia algo que o css relaciona de maneira automagica.  @miguelpeixe alguma ideia?

[2018-03-21 00:40] cabelotaina commented on #88
Acredito que aqui batemos em um limite da responsividade, a ideia do componente que usamos eh que ele deve estar desde o inicio da linha ate o final da linha e se auto ajudar dentro do espaço disponivel, sugiro fazer um teste vendo como o menu se adequa a diferentes resoluções. Nem sempre ele vai estar perfeito.

veja

![image](https://user-images.githubusercontent.com/1827173/37689983-05b1c482-2c

[2018-03-21 01:08] cabelotaina commented on #71
corrigido

[2018-03-21 01:12] cabelotaina commented on #44
A pagina interna do delibera eh a pagina comunidade?

Para editar o link do github

![image](https://user-images.githubusercontent.com/1827173/37690717-a7999dde-2c8b-11e8-8b30-444991d9e58c.png)

![image](https://user-images.githubusercontent.com/1827173/37690730-bca435b8-2c8b-11e8-8f36-c7242f8b59cb.png)

![image](https://user-images.githubusercontent.com/1827173/37690742-ced09dd0-2c8b-11e8-874e-9e

[2018-03-21 01:22] cabelotaina commented on #61
A pagina eh esta

http://hmg.mapasculturais.medialab.ufg.br/tutoriais/

O seletor sem formatação é este:

![image](https://user-images.githubusercontent.com/1827173/37690799-35474442-2c8c-11e8-9c71-c97fb47138a3.png)

Qual seria o design que mostra como deve ser o seletor?

Quanto a quebra de linha me parece algo natural, por se tratar de duas palavras distintas dentro de um paragrafo, penso que el

[2018-03-21 02:34] cabelotaina commented on #45
As mensagens podem ser modificadas em:

![image](https://user-images.githubusercontent.com/1827173/37692418-2bef13a6-2c97-11e8-9f59-6b5a83a196df.png)

![image](https://user-images.githubusercontent.com/1827173/37692428-3a526178-2c97-11e8-9347-989bf14815e4.png)

[2018-03-21 10:18] thaisrigolon commented on #90
Ok, obrigada.

[2018-03-21 10:18] #90 closed, assigned to thaisrigolon

[2018-03-21 10:20] thaisrigolon commented on #89
@cabelotaina as alterações ainda não estão aparecendo..

[2018-03-21 10:23] thaisrigolon commented on #71
@cabelotaina as alterações ainda não estão aparecendo no ambiente de homologação... limpei o cache...

[2018-03-21 11:26] vgeorge commented on #44
O link foi alterado como você instruiu, mas o resultado continua o mesmo.

O link para a página da comunidade é o endereço `/comunidade`, que é a página do delibera.

[2018-03-21 11:27] vgeorge commented on #61
Está ok, agora só falta resolver o estilo do seletor. @miguelpeixe

[2018-03-21 11:30] vgeorge commented on #45
@thaisrigolon o newsletter está configurado. Para traduzir as mensagens, acesse aqui:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/admin.php?page=mailchimp-for-wp-forms&view=edit-form&form_id=47&tab=messages

[2018-03-21 11:34] vgeorge commented on #89
Subi as alterações. Não vamos conseguir mudar os ícones, é algo que não é simples de ser feito no momento. @thaisrigolon

[2018-03-21 11:36] vgeorge commented on #71
Subi o código agora:

http://hmg.mapasculturais.medialab.ufg.br/parceiros/

[2018-03-21 13:15] cabelotaina commented on #55
As sombras estão ok, e o problema eh que o pessoal do hacklab usa um repo que não eh o master como principal, estavamos pegando informações do repositorio master e eles usam develop, troquei para develop para que haja coincidência de resultados.

[2018-03-21 13:30] cabelotaina commented on #59
Ola @thaisrigolon isso tem a ver com o funcionamento do wp, basicamente ele possui um conjunto de categorias que estão visiveis em:

![image](https://user-images.githubusercontent.com/1827173/37712372-6fa74fe0-2cf2-11e8-9fde-e1052638d2db.png)

Ao clicar no link acima vc vai cair em uma pagina como esta:

![image](https://user-images.githubusercontent.com/1827173/37712406-835aa9d8-2cf2-11e8-8d45-f5

[2018-03-21 13:38] cabelotaina commented on #21
Feito, estava __("Relate Versions") e deveria ser __("Related Versions", "pmc").

[2018-03-21 13:43] cabelotaina commented on #67
Fiz um teste simples removendo a pro-key do wp-config.php e os campos criados para as paginas continuam aparecendo.

Alguma ideia de um teste mais apropriado?

[2018-03-21 13:54] cabelotaina commented on #60
@vgeorge  Por favor check se o widget esta ok.

[2018-03-21 13:58] cabelotaina commented on #82
O thumb é proveniente da imagem destacada, é necessário dispor de imagem destacada no post para que o thumb apareça. Veja este post com imagem destacada.

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=375&action=edit

![image](https://user-images.githubusercontent.com/1827173/37713791-bc6f4bd0-2cf6-11e8-8dda-f9eeafb4cd59.png)

![image](https://user-images.githubusercontent.com/1

[2018-03-21 14:09] cabelotaina commented on #50
@thaisrigolon - quanto aos valores de complexidade modifique um tutorial para outro valor e salve novamente veja se muda, pois isso tem a ver com os testes anteriores que foram feitos e banco fica um pouco sujo e pode causar essa confusão. veja se não é isso.

[2018-03-21 14:13] cabelotaina commented on #66
@thaisrigolon  - "O link do menu para direcionar até a página da linha do tempo não está funcionando" Parece que já foi resolvido.

Eu tb notei isso, mas foge a minha alçada, acredito que isso deve ter a ver com a configuração do pessoal do UFG. @vgeorge pode checar isso?

[2018-03-21 14:19] cabelotaina commented on #58
Eu expliquei o funcionamento disso na issue #59

[2018-03-21 15:00] cabelotaina commented on #74
Pessoal tentei aqui de varias formas melhorar o thumbs das instancias e realmente eu não tenho o dom pra isso hahaha, nem consegui fazer o negocio chegar perto de mudar.

[2018-03-21 15:08] cabelotaina commented on #47
@vgeorge explica qual seria a tarefa aqui, como se daria essa integração...

[2018-03-21 15:09] cabelotaina commented on #84
Como ficou essa issue?

[2018-03-21 15:11] cabelotaina commented on #76
ping @miguelpeixe @vgeorge

[2018-03-21 15:30] vgeorge commented on #51
Aqui só falta arrumar o campo complexidade, que está aparecendo como um número inteiro:

http://hmg.mapasculturais.medialab.ufg.br/suporte/

[2018-03-21 15:34] vgeorge commented on #59
O problema das categorias considero resolvido, falta exibir e colocar links paras as tags.

[2018-03-21 15:35] vgeorge commented on #80
Aqui está o problema, essa lista está referenciando categorias, e não tags:

<img width="803" alt="captura de tela 2018-03-21 as 15 34 40" src="https://user-images.githubusercontent.com/329694/37719701-810eb040-2d1d-11e8-812f-321411158d4c.png">

[2018-03-21 15:37] thaisrigolon commented on #58
Ok, @cabelotaina entendi. No entanto, todas as categorias estão aparecendo em todos os posts. E precisa aparecer somente as selecionadas. Como configuramos isso?

[2018-03-21 15:38] thaisrigolon commented on #59
Todas as categorias estão aparecendo em todos os posts. E precisa aparecer somente as selecionadas. Como configuramos isso?

[2018-03-21 15:44] thaisrigolon commented on #71
Ok, issue homologada.

[2018-03-21 15:44] #71 closed, assigned to vgeorge, miguelpeixe, cabelotaina, thaisrigolon

[2018-03-21 15:54] vgeorge commented on #66
O link do menu está resolvido, agora falta remover esse warning.

Olhando o blame do arquivo acho que só pode ser a mudança do slug:

https://github.com/institutotim/wp-theme-mapasculturais/blame/to-validate/inc/timeline-items.php

[2018-03-21 15:56] cabelotaina commented on #59
Este eh o comportamento padrão do widget de categorias, ele mostra todas as categorias que existem no site. Dado que um usuario poderia clicar em qualquer categoria do site e ver quais sao os posts que existem para tal categoria, independente das categorias do post atual, isso permite que usuario tenha acesso a qualquer conteudo do tipo que ele esta vizualiando usando as categorias para navegar pe

[2018-03-21 15:56] vgeorge commented on #58
@thaisrigolon Aqui o comportamento é mostrar todas as categorias, mas na página única deve-se mostrar só as categorias associadas mesmo.

[2018-03-21 16:08] vgeorge commented on #47
Aqui falta adicionar um campo para editar a caixa em amarelo, como foi feito em outros templates.

[2018-03-21 16:11] vgeorge commented on #59
@cabelotaina O comportamento correto é exibir só as categorias do post no widget.

[2018-03-21 16:15] cabelotaina commented on #59
para isso vamos ter que fazer uma reengenharia, aqui, pois nao foi especificado isso em nenhum lugar, vamos lá. Seria legal pensar isso nas próximas vezes. algum doc que descreve o comportamento, notadamente apenas o design não foi capaz disso.

[2018-03-21 16:32] thaisrigolon commented on #58
Ok, então esta issue está homologada.

[2018-03-21 16:32] #58 closed, assigned to cabelotaina, thaisrigolon

[2018-03-21 16:34] thaisrigolon commented on #82
Ok. Issue homologada.

[2018-03-21 16:34] #82 closed, assigned to thaisrigolon

[2018-03-21 16:35] thaisrigolon commented on #89
Ok, issue homologada.

[2018-03-21 16:35] #89 closed, assigned to miguelpeixe, thaisrigolon

[2018-03-21 16:39] thaisrigolon commented on #45
Ok, já conseguimos alterar o texto.

Como configurar para a nossa newsletter oficial do mailchimp? Testamos por aqui e ainda não está integrada.

[2018-03-21 16:41] thaisrigolon commented on #93
Ok, issue homologada.

[2018-03-21 16:41] #93 closed, assigned to miguelpeixe, thaisrigolon

[2018-03-21 16:44] thaisrigolon commented on #94
Ok, issue homologada.

[2018-03-21 16:44] #94 closed, assigned to cabelotaina, thaisrigolon

[2018-03-21 16:49] thaisrigolon commented on #79
Em qual local do painel conseguimos editar o texto do excerto?
![1](https://user-images.githubusercontent.com/18294515/37724013-9de4521a-2d0e-11e8-875b-909fd929571c.png)

[2018-03-21 16:50] thaisrigolon commented on #55
Beleza. Mas foi atualizado o código? Porque os números ainda permanecem os mesmos.

[2018-03-21 16:52] cabelotaina commented on #59
feito agora temos a sidebar e as categorias apenas devem mostrar o que for do post atual

[2018-03-21 16:56] thaisrigolon commented on #59
Parece que o servidor caiu, não estou conseguindo homologar.

[2018-03-21 17:52] thaisrigolon commented on #50
Não estou conseguindo testar. Clico para adicionar novo tutorial e a seguinte página aparece:

![1](https://user-images.githubusercontent.com/18294515/37727814-83b98f0a-2d17-11e8-9c97-de045b03901d.png)

[2018-03-21 18:45] vgeorge commented on #50
A homologação voltou ao ar agora.

[2018-03-21 18:49] thaisrigolon commented on #50
- [ ] No caso os grupos são: gestores ou desenvolvedores. Dá pra ter uma opção para gestores E desenvolvedores? Podemos adicionar mais grupos?
![1](https://user-images.githubusercontent.com/18294515/37730740-34f80196-2d1f-11e8-9dfb-21f4c2fd2e71.png)

- [x] Tem como deixar esse filtro menor? Está muito grande.
![1](https://user-images.githubusercontent.com/18294515/37730827-69c7327a-2d1f-11e8-898a-

[2018-03-22 13:57] HeloMubarack commented on #83
Será possível realizar esse ajuste, pessoal?

[2018-03-22 17:26] HeloMubarack commented on #80
Oi, pessoal. Conseguimos adicionar o widget das TAGs e agora elas estão sendo exibidas normalmente ao lado dos posts.

[2018-03-22 17:26] #80 closed, assigned to vgeorge, cabelotaina

[2018-03-22 19:58] thaisrigolon commented on #56
- [x] Alterar título para: **Novo tópico de discussão**
![4](https://user-images.githubusercontent.com/18294515/37794765-49558e74-2df1-11e8-99f8-f7c4fe831f3b.png)

- [x] Como definimos os temas disponíveis?
![3](https://user-images.githubusercontent.com/18294515/37794743-312cbb06-2df1-11e8-8dd1-9144f93a8c21.png)

- [x] Na página da discussão os botões estão desconfigurados:
![1](https://user-image

[2018-04-01 22:15] cabelotaina commented on #81
Veja se ao dar um refresh geral elas aparecem, aqui elas nao aparecem mais.

[2018-04-01 23:09] cabelotaina commented on #55
Sim esta batendo com o repo em develop, http://hmg.mapasculturais.medialab.ufg.br/comunidade/, faça refresh com shit+ctrl+F6

[2018-04-01 23:20] cabelotaina commented on #44
Ola desculpem o vacilo, dei uma olhada e vi que estava indo para localhost na forma que fiz. Fiz uma correção deixando hardcoded, o github já estava corrigido desde a primeira vejam se a versão de homologação esta de acordo com a versão de to-validate.

[2018-04-01 23:27] cabelotaina commented on #51
Feito, agora eh necessário atualizar na hml

[2018-04-01 23:31] cabelotaina commented on #66
Ola eu tenho mention nessa issue, eu tenho que fazer algo aqui, não entendi qual seria o problema, entrei na time line e parece tudo estar funcionando normal... http://hmg.mapasculturais.medialab.ufg.br/linha-do-tempo/

[2018-04-01 23:34] cabelotaina commented on #59
Ola o servidor esta funcionando normal, gostaria que issue fosse validada.

[2018-04-01 23:35] cabelotaina commented on #59
Essa issue tambem parece estar resolvida. Poderiam validar ela?

[2018-04-09 21:56] vgeorge commented on #45
É preciso colocar a chave de API da conta do Mailchimp do Mapas Culturais nesta página:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/admin.php?page=mailchimp-for-wp

[2018-04-09 22:03] vgeorge commented on #79
O excerto fica no box cujo título é "Resumo" e está logo abaixo do box "Revisões".

[2018-04-09 22:06] vgeorge commented on #50
Não é possível usar o operador "E" neste caso. Agora é preciso uma revisão do @miguelpeixe para arrumar o filtro.

[2018-04-19 03:00] miguelpeixe commented on #88
Foi adicionado um espaçamento entre a parte do texto destacada (com linha) e o restante do texto da página inicial.

Também foi aplicada distribuição fixa de largura no menu do rodapé, além de uma pequena margem para melhorar leitura em resoluções menores.

[2018-04-19 03:16] miguelpeixe commented on #54
Não entendi a questão do estilo da seta

[2018-04-19 04:11] miguelpeixe commented on #56
Os temas de pauta podem ser definidos através do painel de controle, em:  Pautas -> Temas

Não entendi a questão sobre a parte esquerda da página, onde é exibido o título, filtro por temas e botão para criação de novo tópico (pauta). Não existirá esse filtro?

[2018-04-19 13:35] vgeorge commented on #54
O dropdown abaixo não está de acordo com o #36:

![captura de tela 2018-04-19 as 10 33 06](https://user-images.githubusercontent.com/329694/38994620-434ef9fc-43bd-11e8-9d16-8784b043ddd7.png)

Aqui está o link da página onde ele aparece:

http://hmg.mapasculturais.medialab.ufg.br/author/spcultura/

[2018-05-02 17:20] Nathlis commented on #83
Homologada.

[2018-05-02 17:20] #83 closed, assigned to miguelpeixe

[2018-05-02 17:40] Nathlis commented on #76
Homologada.

[2018-05-02 17:40] #76 closed, assigned to miguelpeixe

[2018-05-02 17:55] Nathlis commented on #74
Homologada.

[2018-05-02 17:55] #74 closed, assigned to miguelpeixe

[2018-05-02 18:11] Nathlis commented on #79
Não consegui encontrar onde faço a alteração do texto. Pode me ajudar @vgeorge ? Só encontro o resumo abaixo mas não é editável:

![Revisões ‹ Portal do Mapas Culturais — WordPress.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/596cb7a89e3565001f4cdc90/125516c66e82c728ace21e0d46da918c2a91207c8afaffc14484b0a4265433722544a72430a8e238be513b221a030ae903090607ec2b398fb6d16332d

[2018-05-02 18:21] Nathlis commented on #45
Homologado.

[2018-05-02 18:21] #45 closed, assigned to vgeorge, intrepidocabral, cabelotaina

[2018-05-02 19:11] Nathlis commented on #50
- [ ] Não ficou claro se é possível adicionar mais grupos além de "gestores" e "desenvolvedores". Se sim, onde incluímos?

![image](https://user-images.githubusercontent.com/18741130/39543301-25907440-4e21-11e8-9495-bad22d72c026.png)

- [ ] O filtro não está funcionando, após selecionar alguma opção ele não filtra e não é possível mudar o filtro (fica travado)

![sem titulo](https://user-images.gi

[2018-05-02 19:12] Nathlis commented on #50
- [ ] Botão de "Veja mais tutoriais" não funciona:

![portal do mapas culturais 1](https://user-images.githubusercontent.com/18741130/39544183-a43d0da6-4e23-11e8-86d5-d7b80fa753eb.png)

[2018-05-02 19:25] Nathlis commented on #61
Homologada.

[2018-05-02 19:26] #61 closed, assigned to miguelpeixe

[2018-05-02 19:33] Nathlis commented on #47
Homologada.

[2018-05-02 19:33] #47 closed, assigned to cabelotaina

[2018-05-02 19:42] Nathlis commented on #60
Homologada

[2018-05-02 19:42] #60 closed, assigned to vgeorge, cabelotaina

[2018-05-03 14:10] Nathlis commented on #56
- [x] Está dando um erro no Aceitar e Rejeitar a pauta, essa pauta foi criada direto no WordPress:

![portal do mapas culturais](https://user-images.githubusercontent.com/18741130/39579232-9820b63c-4ebc-11e8-8d65-27c520ebcffd.png)

- [x] Quando se cria uma pauta diretamente pela plataforma, não aparece o REJEITAR:

![portal do mapas culturais 2](https://user-images.githubusercontent.com/18741130/3

[2018-05-03 14:11] Nathlis commented on #57
Criar e editar pauta homologada.

[2018-05-03 14:11] #57 closed, assigned to cabelotaina, thaisrigolon

[2018-05-03 14:35] Nathlis commented on #59
Homologada.

[2018-05-03 14:37] #59 closed, assigned to nobody

[2018-05-03 14:39] Nathlis commented on #81
Homologada.

[2018-05-03 14:40] #81 closed, assigned to vgeorge, cabelotaina, HeloMubarack

[2018-05-03 14:57] Nathlis commented on #55
Pessoal desculpa, não sei se entendi direito, mas pra mim os números ainda não batem:

![1](https://user-images.githubusercontent.com/18741130/39584526-0a04fba8-4ec9-11e8-95b7-c758ca3fb59d.png)

![2](https://user-images.githubusercontent.com/18741130/39584535-0d71b916-4ec9-11e8-885f-f892fc07a44f.png)

[2018-05-03 15:17] Nathlis commented on #62
Homologada.

[2018-05-03 15:17] #62 closed, assigned to thaisrigolon

[2018-05-03 17:41] Nathlis commented on #21
- [ ] Está ocorrendo um erro quando você cria um Tutorial para GESTORES.

![1](https://user-images.githubusercontent.com/18741130/39593366-e79ccb4c-4edf-11e8-9059-4c85030658ed.png)

Se você atualizar para agentes dá certo:
![2](https://user-images.githubusercontent.com/18741130/39593398-02531b58-4ee0-11e8-8fb5-96f4e2dc5526.png)

E depois mudar de novo para Gestores dá certo:

![3](https://user-ima

[2018-05-03 17:56] Nathlis commented on #84
Verifiquei que ainda persiste problema nos links nos botões "Saiba Mais"; Conheça as instalações"; "GitHub" e no "Histórico" (no rodapé).

O problema do plugin foi arrumado?

[2018-05-03 18:03] Nathlis opened #95 "Título página BLOG DA REDE"
- [ ] Trocar o nome de POST DA REDE para **BLOG DA REDE**:

![7](https://user-images.githubusercontent.com/18741130/39594427-0ed66cce-4ee3-11e8-9df9-bcafc4845d87.png)

http://hmg.mapasculturais.medialab.ufg.br/blog-da-rede/

![8](https://user-images.githubusercontent.com/18741130/39594446-16ce36c8-4ee3-11e8-8bb1-f344ab9e30da.png)

[2018-05-03 22:49] vgeorge commented on #79
Natalia, fiz um teste aqui e está funcionando. Por exemplo, para editar a página "O que é?", acesse o link:

http://hmg.mapasculturais.medialab.ufg.br/wp-admin/post.php?post=268&action=edit

Role até aparecer um box cujo título é "Resumo", edite o texto e publique. Se não estiver conseguindo para alguma página, por favor, informe o link.

[2018-05-03 23:01] vgeorge commented on #50
Natalia, sobre os pontos:

1. não é possível criar novos grupos;
2. confirmo o bug do seletor;
3. link para botão resolvido.

Então, aqui o que falta para esta issue é consertar o seletor de grupo de tutoriais, ok?

[2018-05-03 23:10] vgeorge commented on #55
Natalia, para evitar que seja feito request a cada vez que a página é aberta, existe um cache de 3 horas para atualização dos dados. Provavelmente alguém acessou esta página no momento em que a contagem estava em 5.573, houve novos commits no repositório e você acessou menos de 3 horas depois. Para mim, agora a contagem está correta, em 5597.

[2018-05-03 23:15] vgeorge commented on #84
Aqui o problema de acesso ao Javascript persiste. Estas duas dependência não estão acessíveis:

1. http://hmg.mapasculturais.medialab.ufg.br/wp-content/plugins/advanced-custom-fields-pro/assets/inc/select2/4/select2.full.min.js?ver=4.0
2. http://hmg.mapasculturais.medialab.ufg.br/wp-content/plugins/advanced-custom-fields-pro/assets/inc/timepicker/jquery-ui-timepicker-addon.min.js?ver=1.6.1

cc @wa

[2018-05-03 23:27] vgeorge commented on #95
Feito.

[2018-05-03 23:30] vgeorge commented on #73
Essa depende de uma solução de front-end primeiro.

[2018-05-03 23:30] #67 closed, assigned to vgeorge

[2018-05-03 23:31] vgeorge commented on #66
@Nathlis Aqui parece que está tudo ok.

[2018-05-04 12:29] Nathlis commented on #79
Não consigo alterar o box rosa abaixo:

http://hmg.mapasculturais.medialab.ufg.br/o-que-e/

![1](https://user-images.githubusercontent.com/18741130/39627822-73212f1c-4f7d-11e8-8191-73188cf1661e.png)

[2018-05-04 12:41] Nathlis commented on #55
Entendi, obrigada. Homologada.

[2018-05-04 12:41] #55 closed, assigned to Nathlis

[2018-05-04 12:50] vgeorge commented on #79
Oi Natália, você está acessando com um usuário admin, correto? Verifique se o resumo está habilitado acessando as opções de tela:

![captura de tela 2018-05-04 as 09 47 11](https://user-images.githubusercontent.com/329694/39628695-3ff50a16-4f80-11e8-9c5b-2c63bf3c4d54.png)

Depois verifique se opção de resumo está marcada como ativa:

![captura de tela 2018-05-04 as 09 48 22](https://user-images.gi

[2018-05-04 13:00] Nathlis commented on #95
Homologada.

[2018-05-04 13:00] #95 closed, assigned to Nathlis

[2018-05-04 13:21] Nathlis commented on #66
@vgeorge  não funciona quando você clica em "Histórico" no rodapé. Como eu coloquei essa questão na issue #84 pode fechar essa.

Linha do tempo funcionando. Homologada.

[2018-05-04 13:36] Nathlis commented on #79
Consegui!!

- [ ] Caso eu não queira o resumo e deixar desabilitado, o sistema pega um pedaço do conteudo publicado? Porque deixei desabilitado e apareceu isso:

![portal do mapas culturais](https://user-images.githubusercontent.com/18741130/39630845-f791c596-4f86-11e8-852f-4a13571ec4a3.png)

- [ ] Só por dúvida, é possível esse quadro não existir?

[2018-05-04 18:17] #66 closed, assigned to Nathlis

[2018-05-07 18:12] Nathlis commented on #79
Aprovado.

[2018-05-07 18:12] #79 closed, assigned to Nathlis

[2018-05-11 14:34] leogermani commented on #42
@walisonjose pode dar uma olhada nisso?

[2018-05-15 13:31] walisonjose commented on #42
@vgeorge bom dia!
Por favor, vc poderia verificar se o problema persiste?
Eu tentei uma configuração e acho que pode ter resolvido o problema.

[2018-05-15 18:02] vgeorge commented on #42
Oi Walison, o problema persiste para mim. Não parece ser um problema de existência do arquivo, pois o CSS é carregado, mas o JS não:

http://hmg.mapasculturais.medialab.ufg.br/wp-content/plugins/advanced-custom-fields-pro/assets/css/acf-global.css?ver=5.6.9

http://hmg.mapasculturais.medialab.ufg.br/wp-content/plugins/advanced-custom-fields-pro/assets/js/acf-input.min.js?ver=5.6.9

[2018-05-24 18:34] Nathlis commented on #42
@walisonjose por favor pode dar uma olhada nisso?

[2018-05-25 14:16] intrepidocabral commented on #92
ok! resolvido.

[2018-05-25 14:16] #92 closed, assigned to intrepidocabral, Nathlis

[2018-05-25 14:17] intrepidocabral commented on #91
ok!

[2018-05-25 14:17] #91 closed, assigned to intrepidocabral

[2018-05-25 15:00] walisonjose commented on #42
Bom dia Natália!
Eu estou trabalhando numa solução para este problema e ate a próxima eu
creio que consigo um posicionamento.

Em Qui, 24 de mai de 2018 15:34, Natália Santos <notifications@github.com>
escreveu:

[2018-05-28 22:35] miguelpeixe commented on #54
Isso é uma variação de browser, cada browser vai exibir o seu padrão.

[2018-05-28 22:35] miguelpeixe commented on #54
![Screen Shot 2018-05-28 at 19.35.16.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ceae1f82b317f7d9acf500/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77266456fb6b7191a379e60c2854415e48be5d4a1f06a3a3dc78e2a436628f5458e4d23c5c73923f11a4be811fbf02b229881c80b0bb9850d2aa6c7bb3d4d216744b470a83ed5c32aa984eca5ff34fe74457ac173164f43b.png)

Segue exemplo no chrom

[2018-05-28 22:55] vgeorge commented on #44
@miguelpeixe O logo do github está desalinhado e apontando para a página de suporte, e não para o Github.

[2018-05-28 23:25] miguelpeixe commented on #73
A lista de instâncias exibe as primeiras 4, com um botão de expandir para exibir as restantes.

[2018-05-29 11:41] Nathlis commented on #50
O filtro ainda não funciona

[2018-05-29 12:04] Nathlis commented on #21
Aprovado.

[2018-05-29 12:04] #21 closed, assigned to vgeorge

[2018-05-29 13:07] Nathlis commented on #54
Aprovado

[2018-05-29 13:07] #54 closed, assigned to Nathlis

[2018-05-29 13:24] Nathlis commented on #51
Aprovado

[2018-05-29 13:24] #51 closed, assigned to Nathlis

[2018-05-29 13:54] Nathlis commented on #88
Não é possível tirar o sublinhado?

[2018-05-29 14:03] Nathlis commented on #73
Não foi prevista uma página interna para as **Iniciativas**? No momento não tem muitas, mas e quando tiver?

[2018-05-29 16:56] miguelpeixe commented on #73
Não foi previsto.

[2018-05-29 19:14] Nathlis commented on #73
Tudo bem. Aprovado.

[2018-05-29 19:14] #73 closed, assigned to Nathlis

[2018-05-30 18:50] miguelpeixe commented on #88
Removido

[2018-05-30 18:53] Nathlis commented on #88
Por favor retirar o espaçamento a mais entre "colaborativa e promove."

[2018-05-30 18:57] miguelpeixe commented on #44
URL corrigida, aqui nao aparece desalinhado, segue:
![Captura de tela de 2018-05-30 15-57-04.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ceae1f82b317f7d9acf500/125516c66e82c728ace21e0d46cb958a379791a8cfedba03b058fc95694222337b54f2733dd5b665ec123b505a424bab5c585b56e0ebc969f9ec6923ce4e01ffd4650c7dc56c12abec801fb707b9208b4c8dbfbfd949c6ef2f39f5c9de116a415841c3aa1f27aa8b4

[2018-05-30 19:01] Nathlis commented on #44
Aprovado.

[2018-05-30 19:01] #44 closed, assigned to vgeorge, miguelpeixe

[2018-05-30 19:03] miguelpeixe commented on #88
Feito

[2018-05-30 19:05] Nathlis commented on #88
Aprovado

[2018-05-30 19:06] #88 closed, assigned to Nathlis

[2018-06-04 16:58] Nathlis commented on #50
Aprovado.

[2018-06-04 16:59] #50 closed, assigned to miguelpeixe

[2018-06-21 23:52] miguelpeixe commented on #56
Devido a problemas com o sistema de permissões no Delibera, achamos que será mais conveniente para o projeto pular a etapa de validação e assumir que todas as propostas de discussão já estejam qualificadas para a etapa de "Discussão".

[2018-06-22 17:05] miguelpeixe commented on #56
Foram implementados os links nos títulos para a área de discussões filtrada pela "situação".  Para facilitar essa navegação, foi adicionado por padrão na barra lateral do arquivo de discussões uma navegação incluindo busca textual, temas e situação.

![Captura de tela de 2018-06-22 14-03-48.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ceae1f82b317f7d9acf500/125516c66e

[2018-06-22 17:08] miguelpeixe commented on #56
Caso o número de discussões na página de arquivo exceda o limite estabelecido, a paginação estará disponível na interface.

[2018-06-25 17:29] Nathlis commented on #56
Aprovado.

[2018-06-25 17:30] #56 closed, assigned to miguelpeixe